<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg viewBox="0 0 131 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3 (11970) - http://www.bohemiancoding.com/sketch -->
    <title>diamond</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M0.0517578125,36.5737305 L65.5722656,73.1542969 L130.477051,36.8925781 L65.1933594,0.594726562 L0.0517578125,36.5737305 Z" id="diamond" fill="#E2E2E1" sketch:type="MSShapeGroup"></path>
    </g>
</svg>