<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="29px" height="22px" viewBox="0 0 29 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3 (11970) - http://www.bohemiancoding.com/sketch -->
    <title>quote_down</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="29" height="22"></rect>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="quote_down" sketch:type="MSLayerGroup">
            <mask id="mask-2" sketch:name="Mask" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <use id="Mask" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <text id="”" fill="#7A7A7A" sketch:type="MSTextLayer" mask="url(#mask-2)" font-family="Copernicus" font-size="69.0907669" font-weight="420">
                <tspan x="-4" y="57">”</tspan>
            </text>
        </g>
    </g>
</svg>