<a href="mailto:?subject={{ title }} - Property Found on lesliegarfield.com&body={{ _site_url }}{{ url }}">
	<i class="fa fa-envelope fa-lg"></i>
</a>
<a href="https://twitter.com/intent/tweet?url={{ _site_url }}{{ url }}">
	<i class="fa fa-twitter fa-lg"></i>
</a>
<a href="javascript:pinIt();">
	<i class="fa fa-pinterest fa-lg"></i>
</a>
<a class="fb" 
data-title="{{ title }}" 
data-desc="Property listed at Leslie Garfield" 
data-image="{{ if main_image }}{{ main_image}}{{ elseif preview_image }}{{ preview_image }}{{ endif }}"
href="{{ _site_url }}{{ url }}">
<i class="fa fa-facebook fa-lg"></i>
</a>
