<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="Leslie J. Garfield - NYC's premier broker for townhouses and small buildings.">
  <meta name="keywords" content="New York Real Estate, New York Townhouses">
  <meta name="geo.region" content="US-NY" />
  <meta name="geo.placename" content="New York City" />
  <meta name="geo.position" content="41.884013;-74.320194" />
  <meta name="ICBM" content="40.7628871, -73.9714047" />
  <meta property="og:latitude" content="40.7628871" />
  <meta property="og:longitude" content="-73.9714047" />
  <meta property="og:street-address" content="505 Park Ave #303" />
  <meta property="og:locality" content="New York" />
  <meta property="og:region" content="NY" />
  <meta property="og:postal-code" content="10022" />
  <meta property="og:country-name" content="USA" />
  <title>{{ title }} - {{ _site_name }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="{{ theme:css }}" />
  <!-- endbuild -->
  <link rel="shortcut icon" type="image/ico" href="{{ theme:img src="favicon.ico" }}">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa3ywQ6GzCRIlFJsqT0_a1fBhaP7MoJpM">
    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body data-spy="scroll" data-target="#scroll-spy-nav">

    <div class="page-wrap">
      {{ theme:partial src="nav" }}
      {{ layout_content }}
    </div>
    {{ theme:partial src="footer" }}

  <!-- build:js -->
  <script src="{{ theme:js }}"></script>
  <script type="text/javascript">

  window.onload = function(){
    var elements = document.getElementsByClassName("price-descriptor");
    for (var i=0; i<elements.length; i++){
      console.log(i);
      elements[i].innerHTML = elements[i].innerHTML.replace(/\\b([a-z])([a-z]+)?\\b/gim, "<span class='first-letter'>$1</span>$2");
    }
  }


  </script>
<script>
function pinIt()
{
  var e = document.createElement('script');
  e.setAttribute('type','text/javascript');
  e.setAttribute('charset','UTF-8');
  e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);
  document.body.appendChild(e);
}
</script>
<script type="text/javascript">

</script>
  <!-- endbuild -->
</body>
</html>