<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="{{ theme:css }}" />
  <!-- endbuild -->
  <link rel="shortcut icon" type="image/ico" href="{{ theme:img src="favicon.ico" }}">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa3ywQ6GzCRIlFJsqT0_a1fBhaP7MoJpM">
    </script>
<script>
function fbShare(url, title, descr, image, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
}
</script>
</head>
<body>

    <div class="page-wrap">
      {{ theme:partial src="nav" }}
      {{ layout_content }}
    </div>
    {{ theme:partial src="footer" }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script> -->
  <!-- build:js -->
 
  <script async src="{{ theme:js src="pinit.min" }}"></script>
  <!-- endbuild -->
  <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
 <script src="{{ theme:js }}"></script>
</body>
</html>