<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }} - {{ _site_name }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="{{ theme:css }}" />
  <!-- endbuild -->
  <link rel="shortcut icon" type="image/ico" href="{{ theme:img src="favicon.ico" }}">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa3ywQ6GzCRIlFJsqT0_a1fBhaP7MoJpM">
    </script>
</head>
<body data-spy="scroll" data-target="#scroll-spy-nav">

    <div class="page-wrap">
      {{ theme:partial src="nav" }}
      {{ layout_content }}
    </div>
    {{ theme:partial src="footer" }}
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script> -->
  <!-- build:js -->
  <script src="{{ theme:js }}"></script>
  <script type="text/javascript">

window.onload = function(){
  var elements = document.getElementsByClassName("price-descriptor");
  for (var i=0; i<elements.length; i++){
    console.log(i);
    elements[i].innerHTML = elements[i].innerHTML.replace(/\\b([a-z])([a-z]+)?\\b/gim, "<span class='first-letter'>$1</span>$2");
  }
}

  </script>
  <!-- endbuild -->
</body>
</html>