.agent-individual {
	aside {
		padding-right: 60px;
		img {
			margin-top: 183px;
			max-width: 200px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		h2 {
			font-family: $hFontB;
			font-size: 22px;
		}
		h3 {
			text-align: left;
		}
		svg {
			height: 25px;
			width: 25px;
			margin-right: 10px;
		}
		svg, li {
			vertical-align: middle;
		}
		ul {
			margin-top: 20px;
		}
		li {
			font-family: $hFontM;
			font-size: 14px;
			margin-bottom: 10px;
			&:hover {
				svg * {
					fill: $text-green;
				}
				color: $text-green;
				* {
					color: $text-green;
				}
			}
		}
		.dotted {
			margin-top: 30px;
			margin-bottom: 0;
		}
	}
	main {
		padding: 60px;
		background-color: #fff;
		.agent-info {
			@include clearfix;
			margin-bottom: 60px;
		}
		.agent-info * {
			@include span (last 9 of 9 );
			
		}
		h1 {
			font-size: 47px;
			margin-top: 0;
			margin-bottom: 60px;
		}
		p:first-of-type, span:first-of-type {
			margin-top: 0;
		}
		p:last-of-type, span:last-of-type {
			margin-bottom: 0;
		}
		p, span {
			font-family: $hFontM;
			line-height: 26px;
		}
		.green-specs {
			margin-bottom: 60px;
			h4 {
				padding-bottom: 20px;
				border-bottom: 1px solid $text-green;
				margin-bottom: 60px;
			}
			.press {
				@include clearfix;
			}
			.press-item {
				@include flex-vert;
				margin: 0;
				padding: 0 15px;
				&:hover {
					// background-color: darken($lightest-green, 3%);
				}
				p, img {
					text-align: center;
					margin: 0 auto;
				}
				img {
					display: block;
				}
				p {
					font-size: 14px;
				}
			}
		}
		.agent-properties {
			padding: 30px;
			margin-bottom: 60px;
			@include span(full no-gutter);
			@include clearfix;
		}
		.recent-transactions {
			@include span(full no-gutter);
			@include clearfix;
			&.sale {
				margin-bottom: 40px;
			}
			h2 {
				margin-bottom: 30px;
			}
			h3 {
				border-bottom: 2px solid $dark-gray;
				padding-bottom: 10px;
				font-size: 16px;
				font-family: $bFont;
				font-weight: 700;
				text-transform: uppercase;
			}
			span {
				@include hbase($hFontB);
			}
			ul {
				@include clearfix;
				border-bottom: 1px solid lighten($dark-gray, 50%);
				// display: flex;
			}
			li {
				@include gallery(1 of 4);
				padding: 20px 0;
				padding-right: 5px;
				font-family: $hFontM;
				font-size: 16px;
				text-align: left;
				&.transaction-details {
					font-size: 14px;
				}
			}
			// li:nth-child(4n + 3),li:nth-child(4n + 4)  {
			// 	text-align: right;
			// }
		}
	}
}

