.agent-individual {
	aside {
		padding-right: 60px;
		img {
			margin-top: 183px;
		}
		h2 {
			font-family: $header-font-bold;
			font-size: 25px;
		}
		svg {
			height: 30px;
			width: 30px;
			margin-right: 10px;
		}
		svg, li {
			vertical-align: middle;
		}
		ul {
			margin-top: 20px;
		}
		li {
			font-family: $header-font-medium;
			font-size: 14px;
			margin-bottom: 10px;
			&:hover {
				svg * {
					fill: $text-green;
				}
				color: $text-green;
				* {
					color: $text-green;
				}
			}
		}
		.dotted {
			margin-top: 30px;
			margin-bottom: 0;
		}
	}
	main {
		padding: 60px;
		background-color: #fff;
		.agent-info {
			@include clearfix;
		}
		.agent-info * {
			@include span (7 of 9 );
		}
		h1 {
			font-size: 47px;
			margin-top: 0;
			margin-bottom: 60px;
		}
		p:first-of-type {
			margin-top: 0;
		}
		p {
			font-family: $header-font-medium;
			line-height: 28px;
		}
		.green-specs {
			margin-bottom: 60px;
			h4 {
				padding-bottom: 20px;
				border-bottom: 1px solid $text-green;
				margin-bottom: 60px;
			}
			.press {
				@include clearfix;
			}
			.press-item {
				@include gallery(1 of 2);
				@include clearfix;
				p {
					padding-top: gutter(2);
					padding-bottom: gutter(2);
					display: block;
					@include clearfix;		
					margin-bottom: 0;			
				}
				&:first-of-type {
					border-right: 1px solid $text-green;
				}
				&:hover {
					// background-color: darken($lightest-green, 3%);
				}
				p {
					text-align: center;
				}
			}
		}
		.agent-properties {
			padding: 30px;
			margin-bottom: 60px;
		}
		.agent-property-carousel {
			@include pre(1);
			@include post(1);
			a {
				margin: 10px;
				padding: 10px;
			}
		}
		.recent-transactions {
			div {
				border-top: 1px solid $dark-gray;
			}
			li {
				padding: 20px 0;
			}
			ul li:last-of-type {
				float: right;
			}
		}
	}
}