.blog {
	span {
		text-transform: uppercase;
	}
	.blog-container {
		@include clearfix;
		position: relative;
	}
	.featured {
		background-color: $dark-seafoam-bg;
		@include span(full no-gutter);
		@include clearfix;
	}
	.news-left, .news-right {
		background-color: #fff;
	}
	.blog-left {
		@include span (7 of 12 after);
	}
	.blog-right {
		@include span (last 4 of 12 after);
	}
	.entry, .authors {
		@include span(full no-gutter);
		@include clearfix;
	}
	.blog-header {
		font-family: $header-font-family;
		color: $light-font-color;
		text-transform: uppercase;
		font-size: 19px;
		padding-bottom: 30px;
		border-bottom: 1px solid $dark-gray;
		margin-bottom: 30px;
		margin-top: 60px;
	}
	.entries {
		@include span(full no-gutter);
	}
	.entry {
		margin-bottom: 60px;
		border-bottom: 1px solid $light-font-color;
		padding-bottom: 60px;
		@include span(full no-gutter);
		.preview-image-container {
			@include span(3 of 7 no-gutter);
			@include clearfix;
			position: relative;	
		}
		.preview-image {
			width: 100%;
			padding-top: 100%;
			display: block;
			position: relative;
			background-position:center;
		}
		.date,.author {
			text-transform: none;
			font-family: $header-font-extra-bold;
			font-size: 14px;
		}
		.author {
			color: $text-green;
		}
		.preview {
			@include span(last 4 of 7);
		}
		h2 {
			margin-top: 0;
		}
		p {
			line-height: 28px;
		}
		.read-more {
			font-size: 16px;
			font-family: $header-font-family-medium-italic;
			color: $text-green;
		}
	}
}

