.blog {
	text-align: center;
	span {
		text-transform: uppercase;
	}
	a {
		color: blue;
	}
	.blog-container {
		@include clearfix;
		position: relative;
	}
	.featured {
		background-color: $dark-seafoam-bg;
		@include span(full no-gutter);
		@include clearfix;
	}
	.news-left, .news-right {
		background-color: #fff;
	}
	.news-left {
		@include span (8 of 12);
	}
	.news-right {
		@include span (4 of 12);
	}
	.partial {
		@include span(full);
		@include clearfix;
		&.entry {
			@include span(8 of 12);
		}
		background-color: #86bbe6;
		display: inline-block;
	}
	.authors {
		@include span(last 4 of 12);
		background-color: #fabcad;
	}
	.entry {
		.date,.author {
			text-transform: none;
			font-family: $header-font-extra-bold;
			font-size: 14px;
		}
		.author {

			color: $text-green;
		}
		p {
			line-height: 28px;
		}
		.read-more {
			font-size: 16px;
			font-family: $header-font-family-medium-italic;
			color: $text-green;
		}
	}
}

