.company {
	text-align: center;
	@include pre(2 of 12);
	@include span(8 of 12);
	h2 {
		font-family: $base-font-family;
		font-size: 23px;
		line-height: 33px;
		text-transform: uppercase;
	}
	h3 {
		text-align: center;
		margin: 0 auto;
		font-size: 23px;
		line-height: 33px;
		font-weight: 700;
		font-family: $header-font-medium;
	}
	p {
		font-family: $header-font-medium;
		line-height: 28px;
	}
	.divider {
		height: 1px;
		width: 200px;
		background-color: $dark-gray;
		margin: 30px auto;
	}
	.beliefs {
		p {
			font-family: $base-font-family;
			font-size: 23px;
			line-height: 33px;
		}
	}
	&.inner-content{
		h2,h4 {
			font-family: $header-font-medium;
			line-height: 46px;
			margin-bottom: 0;
		}
		h2 {
			font-size: 36px;
			margin-bottom: 0;
			margin-top: 20px;
		}
		h4 {
			display: inline-block;
			font-size: 26px;
			margin-top: 0;
			@include clearfix;
		}
		img {
			text-align: center;
			display: inline-block;
		}
		p {
			text-align: left;
		}
		a {
			font-family: $header-font-family-medium-italic;
			font-size: 16px;
		}
	}
	&.why {
		h2 {
			margin-bottom: 0px;
		}
		h3 {
			margin-bottom: 15px;
		}
		p {
			margin-top: 0;
		}
		background-image: url("../img/G.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

}