footer {
	.grid-3 {
		@include gallery(3 of 12 after);
	}
	z-index: 1000;
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	div, a {
		@include bbase;
		display: block;
		margin: 0;
	}
	li {
		display: block;
	}
	.social {
		a {
			margin-right: 10px;
		}
	}
	.fa-inverse {
		background-color: $dark-gray;
		border-color: $light-font-color;
		border: 1px solid $light-font-color;
		border-radius: 50%;
	}
	.beauchamp svg {
		width: 200px;
	}
	.footer-divider {
		border-top: 1px solid darken($light-font-color,20%)	;
		padding-top: 10px;
		padding-bottom: 10px;
		.container {
			padding: 0;
		}
		
		p {
			font-weight: 300;
			@include span(6 of 12);
			font-family: $bFont;
		}
		.social {
			@include span(last 6 of 12);
			text-align: right;
			a i {
				font-size: 24px;
			}
		}
	}
}