footer {
	.grid-3 {
		@include gallery(3 of 12 after);
	}
	z-index: 1000;
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	div, a {
		@include bbase;
		display: block;
		margin: 0;
	}
	li {
		display: block;
	}
	.social {
		a {
			margin-right: 10px;
		}
	}
	.fa-inverse {
		background-color: $dark-gray;
		border-color: $light-font-color;
		border: 1px solid $light-font-color;
		border-radius: 50%;
	}
	form {
		margin-top: 10px;
	}
	.beauchamp {
		margin-top: 10px;
		svg {
			width: 255px;
			z-index: 11;
		}
	}
	.footer-divider {
		border-top: 1px solid darken($light-font-color,20%)	;
	}
	.social {
		text-align: right;
		margin-top: 0;
		a i {
			font-size: 24px;
		}
	}
}