	.green-specs {
		padding: 30px;
		background-color: $bg-seafoam;
		@include span(full no-gutter);
		@include clearfix;

		h4 {
			margin-top: 0;
		}
		* {
			color: $text-green;
		}
		.title {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			svg {
				display: inline-block;
			}
			span {
				margin: 0;
				@include hsmedium($bFont);
			}
		}
		li {
			display: block;
		}
		.specs {
			@include span (full);
			ul {
				@include span(50%);
			}
		}
		.location_features {
			@include span(full);
			margin-top: 20px;
			ul:first-of-type {
				margin-bottom: 20px;
			}
		}
		@include breakpoint($small) {
			.specs {
				@include span (6 of 12);

			}
			.location_features {
				@include span (last 6 of 12);
				margin-top: 0;

			}
		}
		svg {
			height: 25px;
			width: 25px;
			margin-right: 10px;
		}
		h3 {	
			margin-top: 0;
		}
	}