.property_nav {
	background-color: $dark-gray;
	padding-top: 10px;
	padding-bottom: 10px;
	.flex {
	display: flex;
	justify-content: space-between;	
	}
	a {
		color: white;
		&:hover, &:focus {
			color: white;
		}
	}
	.rent_or_buy, .nav, .views {
		display: inline-block;
		margin: 0;
	}
	.nav {
		a {
			background-color: #fff;
			color: $base-font-color;
			padding: 8px 15px;
			&:hover, &:focus {
				color: $base-font-color;	
				background-color: #fff;
				box-shadow: none;
			}
		}
		.dropdown-menu {
			li {
				display: block;
			}
			a {
				&:hover, &:focus {
					color: white;
					background-color: $green;
				}
			}

		}
	}
	.rent_or_buy {
		padding: 8px 4px;
		background-color: black;
		a {
			background-color: black;
			padding: 5px 15px;
			transition: .1s;
			background-color: lighten(black,10%);
			&:hover, &:focus {
				background-color: lighten(black,15%);
			}
			&.active {
				background-color: $green;
			}
		}
	}
	.views {
		li {
			padding-top: 5px;
			&:last-of-type {
				margin-left: 10px;
			}
		}
		a {
			padding-top: 5px;
			font-weight: 300;
			padding-bottom: 10px;
			&:hover, &:focus {
				border-bottom: 2px solid white;
			}
			&.active {
				color: $green;
				padding-bottom: 10px;
				border-bottom: 2px solid $green;
				&:hover, &:focus {
					color: $green;
					border-bottom: 2px solid $green;
				}
			}
		}
	}
}