
.property-page {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	aside {
		display: none;
	}
	@include breakpoint($small) {

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	@include breakpoint($medium) {
		aside {
			display: block;
		}
	}
	.sticky-wrapper {
		position: relative;
		@include span(320px no-gutter);
		aside {
			&.stuck {

				.property-agents {
					margin-top: 30px;
				}
			}
		}
	}
}

.property-info {
	padding: 15px;
	@include breakpoint($small) {
		padding: 30px;
	}
	margin-bottom: 30px;
	background-color: #fff;
	@include clearfix;
	.location {
		@include span (full);
	}
	.content {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
	.divider {
		border-right: 1px solid $light-font-color;
		height: 100%;
		margin: 0 10px 0 5px;
	}
	.property-header {
		@include breakpoint($medium) {
			@include flex-hor;
			justify-content: space-between;			
		}
		h2 {
			color: $header-font-color;
		}
	}
	.property-subheader {
		@include clearfix;
		padding-bottom: 15px;
		span {
			font-family: $hFontM;
			font-size: 15px;
			color: $light-font-color;
		}
		.location {
			@include span (full);
			&.split {
				@include span (full);
			}
		}
		.open-house {
			@include span (full);
			
			height: 25px;
			position: relative;

			span {
				text-align: right;
				bottom: 0;
				font-family: $hFontM;
				font-size: 15px;	
				padding-top: 4px;
				color: $modal-text;
				&.red {
					color: $red;
				}
			}

		}
		@include breakpoint($medium) {
			.location.split {
				@include span (5 of 9);
			}
			.open-house {
				@include span (last 4 of 9);
				text-align: right;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
			}
		}
	}
}

.dotted {
	border-bottom: 1px dotted $light-font-color;
	vertical-align: bottom;
	margin-bottom: 30px;
	width: 100%;
	@include clearfix;
}

.property-carousel {
	@include span (full no-gutter);
	@include clearfix;
	img {
		max-height: 246px;
		text-align: center;
		margin: auto;
	}
	@include breakpoint($small) {
		img {
			max-height: 585px;
		}
	}

	background-color: $bg-light-gray;
}

.agent-container {
	margin-right: 30px;
}

.agent-internal {
	display: block;
	@include breakpoint($medium) {
		display: none;
	}
}

.property-agents {
	&.aside {
		@include breakpoint($medium) {
			margin-top: 145px;
		}	
	}
	color: $header-font-color;
	a {
		display: block;
	}
	span {
		@include hsmedium($hFontMI);
		margin-top: 0;
		display: block;
		margin-bottom: 10px;
	}
	.agent-block {
		padding: 10px 0;
		&:last-of-type {
		 border-bottom: none;
		}
		@include clearfix;
		@include breakpoint($small) {		
			@include span(1 of 2 no-gutter);
		}
		
		@include breakpoint($medium) {
			&:first-of-type {
				padding-top: 0;
			}
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px dotted $light-font-color;
			@include flex-vert;
			align-items: flex-start;
			@include span(2 of 2 no-gutter);
		}
		@include breakpoint($large) {
			border-bottom: none;
			@include flex-hor;
		}

	}
	.agent-image {
		text-align: center;
		@include span(1 of 3 no-gutter clear);
		@include breakpoint($medium) {
			text-align: left;
			img {
				max-width: 100%;
			}
		}
		@include breakpoint($large) {
			@include span (1 of 3 no-gutter);
		}
		
		padding-right: 10px;
	}
	img {
		border-radius: 50%;
		border: 2px solid $bg-gray;
		max-width: 100px;
		&:hover {
			border: 2px solid $text-green;
		}
	}
	.agent-details {
		@include breakpoint($large) {
			@include span (last 2 of 3 no-gutter);
		}
		
	}
	li:hover {
		color: $text-green;
		a {
			color: $text-green;
		}
		svg * {
			fill: $text-green;
		}
	}
	li, a {
		vertical-align: top;
		font-family: $hFontM;
		font-size: 11px;
	}
	li {
		@include flex-hor;
		margin-bottom: 5px;
	}
	svg {
		margin-right: 5px;
		height: 20px;
		width: 20px;

	}
}

.property-downloads {
	a {
		@include gallery(1 of 2 after);
		margin-bottom: 20px;
		&:hover {
			* {
				color: $text-green;
				fill: $text-green;
			}
		}
	}
	svg, span {
		vertical-align: middle;
		color: $light-font-color
	}
	svg {
		margin-right: 5px;
		display: inline-block;
		width: 40px;
		height: 40px;
		* {
			fill: $light-font-color;
		}
	}
	
}

.property-schedule {
	a {
		background-color: $green;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		color: white;
		border-radius: 0;
		margin: 0;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		&:hover {
			background-color: $hover-green;
			color: white;
		}
	}
}

.summary {
	@include span(100%);
	margin-top: 30px;
	@include hbase($hFontM);
	.small {
		@include hmin($hFontM);
		color: darken($modal-text,10%);

	}
	.legal {
		margin: 45px 0;
	}
	.read-more-expander {
		margin-top: 10px;
		i {
			color: $dark-gray;
		}
		span {
			margin-left: 5px;
		}
		&:hover {
			span, i {
				color: $text-green;
			}
		}
	}
}
