

section {
	padding: 68px 0;
	position: relative;
	&.properties {
		padding: 0px 0 100px;
	}
	&.leading {
		margin-top: 78px;
	}
	&.faq {
		margin-top: 0;
		padding-top: 0;
	}
}

.content {
	h3 {
		text-transform: uppercase;
		font-size: 17px;
		font-family: $bFont;
		text-align: center;
		font-weight: 700;
		margin: 0;
	}
}





