section {
	padding-top: 130px;
	padding-bottom: 115px;
	position: relative;
}

.light-gray-bg {
	background-color: $light-gray;
}

.light-green-bg {
	background-color: $light-green;
}

.leader {
	padding-top: 80px;

}

.circle-leader {
	width: 100%;
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	text-align: center;
	.circle {
		margin: 0 auto;
		box-sizing: border-box;
		@include circle(50px);
		padding: 5px;
		border: 2px solid $dark-gray;
		box-shadow: 0 0 0 10px $light-gray;
	}
}