section {
	padding: 100px 0;
	position: relative;
	&.leading {
		margin-top: 78px;
	}
}

.light-gray-bg {
	background-color: $light-gray;
}

.light-green-bg {
	background-color: $light-green;
}

.leader {
	padding-top: 80px;

}

.circle-leader {
	$size: 80px;
	width: 100%;
	position: absolute;
	@include circle-position($size);
	left: 0;
	right: 0;
	text-align: center;
	h4 {
		font-size: 12px;
		font-weight: 700;
	}
	.circle {
		margin: 0 auto;
		box-sizing: border-box;
		@include circle($size);
		svg {
			@include svg-size($size);
			* {
				fill: $base-font-color;
			}
		}
		// svg {
		// 	height: 70px;
		// 	width: 70px;
		// }
		// border: 2px solid $dark-gray;
		// box-shadow: 0 0 0 10px $light-gray;
	}
}