#email-popup {
	position: fixed;
	width: 280px;
	height: 220px;
	z-index: 100;
	bottom: -230px;
	right: 18px;
	background-color: $green;
    border: 1px solid rgba(white,.7);
    box-shadow: 0 0 0 8px $green;
    transition: all .5s;
    &.show {
    	transition: all .5s;
    	bottom: 18px;
    }

	.popup-body {

		height: 100%;
		width: 100%;
		 display: flex;
		 flex-flow: column nowrap;
		 justify-content: space-around;
		 align-content: center;
		 align-items: center;
		padding: 15px;
   .close-button {
   	background-image: url('../img/close.png');
   	height: 15px;
   	width: 15px;
   	background-repeat: no-repeat;
   	position: absolute;
   	right: 7px;
   	top: 7px;
   	&:hover, &:focus {
   		cursor: pointer;
   	}
   }
		* {
			color: white;
			text-align: center;
			margin: 0;
		}
		h5 {
			font-family: $hFontMI;
		}
		p {
			font-size: 13px;
			line-height: 20px;
		}
		a {
			padding: 10px 40px;
			border: 1px solid white;
		}
	}
}