
.faq-header {
	background-color: $text-green;
	margin-top: 78px;
	padding: 30px 0;
	margin-bottom: $bPadding;
	.container {
		color: white;
		font-family: $hFontM;	
		font-size: 26px;	
	}
}

.faq {
	h2 {
		font-family: $hFontM;
		border-bottom: 1px solid $header-font-color;
		font-size: 22px;
		line-height: 46px;
		margin: 20px 0;
	}
}

.costs {
	p {
		font-family: $hFontM;
		line-height: 30px;
		font-size: 19px;
		margin: 0;
	}
	ul {
		list-style-type: circle;
		margin: 10px 0;
		li {
			display: list-item;
			margin-left: 25px;
		}
	}
}

.costs {
	h2:first-of-type {
		margin-top: 0;
	}
	
}

.cost-block {
	padding: 15px 0;
	border-bottom: 1px solid $modal-text;
}

#faq-nav {
	margin-top: 30px;
	padding-bottom: 15px;
}




.faq_expanded {
	p:first-of-type {
		margin-top: 20px;
	}
}

.faq-link {
	font-family: $hFontM;
	font-size: 17px;
	line-height: 17px;
	padding: 0 5px !important;
	border-right: 1px solid $dark-gray;
	&:hover {
		background-color: transparent !important;
		box-shadow: none;
	}
}
section.faq {
	position: relative;
}

.faq-list {
	margin-top: 20px;
	position: relative;
}

.faq-items {
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 20px 0;
}
.faq-item {
	margin-bottom: 10px;
}
.item-name {
	text-transform: uppercase;
}
.item-definition {
	font-size: 13px;
}
.faq-anchor {
	display: block!important;
	position: relative!important;
	margin: 0!important;
	padding: 0!important;
	height: 0!important;
	visibility: hidden!important;
	// top: -202px;
}