.featured {
	height: 400px;
	text-align: left;
	margin-bottom: 60px;
	border-bottom: none;
	.featured-image {
		@include span (6 of 12 no-gutter);
		height: 400px;
	}
	h3 {
		color: $text-green;
		margin-top: 0;
		font-family: $hFontM;
	}
	h2 {
		font-family: $hFontMI;
		font-size: 34px;
		line-height: 43px;
	}
}


.post-details {
	@include span(last 6 of 12 no-gutter);
	padding: 30px;
	padding-right: 100px;
}