.featured {
	
	text-align: left;
	margin-bottom: $bPadding;
	border-bottom: none;
	.blog-header {
		color: $text-green;
		border-bottom: none;
	}
	.featured-image {
		@include span (full);
		height: 200px;
	}
	.post-details {
		@include span(full);
		padding: 30px;
		padding-right: 100px;
	}
	h3 {
		margin-bottom: .5em;
		@include hxlarge($hFontMI);
	}
	@include breakpoint($medium) {
		height: 400px;
		.featured-image {
			@include span (first 6 of 12 no-gutter);
			height: 400px;
		}
		.post-details {
			@include span(last 6 of 12 no-gutter);
		}
	}
}


