.input-clear {
	@include clearfix;
	margin-bottom: 15px;
	.form {
		@include breakpoint($medium) {
			@include gallery(1 of 2 after .025 break);
		}
	}
	input {
		@include span(full);
		margin-bottom: gutter(6);
		padding: 10px 10px;
		border: 1px solid $dark-gray;
		border-radius: 2px;
		font-family: $hFontM;
		font-size: 14px;
		color: $modal-text;
		&:focus, &:active {
			outline-color: $text-green;
			outline-width: 2px;
		}
		@include breakpoint($small) {
			font-size: 16px;
			padding: 10px 10px;
		}
	}
}

.email-signup {
	input {
		background-color: $dark-gray;
		border: 1px solid white;
		border-right: none;
		padding: 14px 0 14px 10px;
		font-style: italic;
		font-size: 15px;
		color: white;
		&:focus {
			outline: none;
		}
		&:active {
			color: white;
		}
	}
	.submit {
		padding: 14px;
		background-color: $text-green;
		color: white;
		border: 1px solid white;
		border-left: none;
		margin-left: -5px;
		&:hover {
			background-color: $hover-green;
		}
	}
}