.hero {
	height: 500px;
	width: 100%;
	background-position: center;
  background-size: cover;
  display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	* {
		color: #fff;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 15px;
	}
	h3 {
		font-family: $header-font-medium;
		font-size: 22px;
		line-height: 32px;
		@include span (4 of 12);
		margin-top: 0;
		margin-bottom: 15px;
	}
	a {
		@include btn-garfield(10px, 50px, 18px);
		margin-top: 15px	}
}