

.hero {
	width: 100%;
	background-position: center;
  background-size: cover;
  display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 600px;
	position: relative;
	* {
		color: #fff;
		z-index: 10;
	}
	.mask {
		z-index: 9;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: .2;
		height: 100%;
		width: 100%;
	}
	&.small {
		height: 450px;
	}
	&.dark {
		h1,h2,h3,h4 {
			color: $dark-gray;
		}
	}
	h1 {
		margin-top: 0;
		margin-bottom: 15px;
	}
	h3 {
		@include hlmedium($hFontM);
		@include span (3 of 12);
		margin-top: 0;
		margin-bottom: 15px;
	}
	a {
		@include btn-garfield(20px, 70px, 12px);
		margin-top: 15px	}
}	

