.insight-tile {
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
	color: $header-font-color;
	* {
		color: $header-font-color;
	}
	&:hover {
		background-color: #E9F7F3;
		color: $header-font-color;
		* {
			color: $header-font-color;
		}
	}
	h3 {
		max-width: 60%;
		font-size: $fontXLarge;
		font-family: $hFontMI;
		line-height: 1.3*$fontXLarge;			
	}
	p {
		@include hsmall($hFontM);
		max-width: 80%;
	}
	span {
		font-size: $fontMini;
		font-weight: 700;
		display: block;
	}
	@include breakpoint($small) {
		margin-top: $bPadding;
		
	}
}