.property_tile {
	a {
		padding: 10px;
		
	}
	&.slick-initialized {
		a {
			margin: 10px;
		}
	}
}

.property_box {
	display: flex;
	flex-flow: row nowrap;
	background-color: #fff;
	.preview-image {
		height: 300px;
		width: 200px;
		background-color: $light-gray;
		background-size: cover;
	}
	.sqft {
		margin-right: 5px;
	}
	img {
		max-height: 300px;
		max-width: 200px;

	}

	.property_tile_info {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		h2,h3,h4 {
			margin: 0;
		}
		h2,h3 {
			font-family: $header-font-family-medium-italic;
		}
		h3,h4 {
			font-size: 15px;
			line-height: 22px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
		}
		h4 {
			font-family: $header-font-medium ;
		}
		padding-left: 10px;
	}
	.spacer {
		height: 1px;
		border-top: 1px solid $dark-gray;
		margin: 10px 0;
		width: 20px;
	}
	&:hover, &:focus {
		h3,h4 {
			color: $header-font-color;
		}
		box-shadow: 0px 0px 0px 1px $green;
		transition: .25s;
	}
}