.property_tile {

	a {
		padding: 10px;
		margin: 1px;
	}
	.slick-slide {
		@include gallery(4 of 12);
	}	
}

.property_box {
	display: flex;
	flex-flow: row nowrap;
	background-color: #fff;

	img {
		max-height: 300px;
		max-width: 200px;
	}

	.property_tile_info {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		h3,h4 {
			margin-top: 0;
		}

		padding-left: 10px;
	}
	.spacer {
		height: 1px;
		border-top: 1px solid $dark-gray;
		padding: 5px 0;
		width: 20px;
	}
	&:hover, &:focus {
		box-shadow: 0px 0px 0px 1px $green;
		transition: .25s;
	}
}