.sitemap {
	margin-bottom: 20px;
	.sub-section {
		@include clearfix;
	}
	h2 {
		margin-bottom: 20px;
		a {
			font-family: $hFontM;
			font-size: 22px;
			line-height: 46px;
		}
	}
	h3 {
		line-height: 26px;
	}
	li {
		display: list-item;
		list-style-type: none;
		
		@include gallery(4 of 12 after)
		margin-left: 16px;
		a {
			text-decoration: underline;
			font-size: 12px;
		}
	}
}