	.social {
		margin-top: 20px;
		margin-bottom: 20px;
		display: inline-block;
		&.block {
			display: block;
			width: 100%;
		}
		a {
			display: inline-block;
			position: relative;
			text-align: center;
			border-radius: 50%;
			transition: all .15s;
		}
		i {
			@include vertical-align;
		}
		&.left-align {
			a {
				margin-right: 5px;
			}
		}
		&.right-align {
			text-align: right;
			a {
				margin-left: 5px;
			}
		}
		i {
			position: relative;
			font-size: 18px;
		}
		&.gray {
			@include social(32px, $light-font-color);
		}
		&.light {
			@include social(32px, $modal-text);
		}
		&.green {
			@include social(32px, $text-green);
		}
		&.footer {
			text-align: right;
			@include social(32px, $footer-gray);
			margin-top: 0;
			margin-bottom: 0;
		}	
	}