	<section class="hero leading dark agents-background" {{ if hero_image }} style="background-image: url( {{ path src="{{ hero_image }}" }} );" {{ endif }}>
		<h1>{{ header }}</h1>
		<h3>{{ sub_header }}</h3>
	</section>	

<section class="agents agents-background">
	<div class="container centered">
		<div class="grid-constrained">
			{{ entries:listing folder="agents/garfield" }}
			<div class="grid-3-constrained-padding">
				<a href="{{ url }}">
					<img class="circle" src="{{ path src="{{ image }}" }}"></img>
					<span class="name">{{ title }}</span>
				</a>
				<span class="details">{{ theme:partial src="svg/phone" }} {{ phone }}</span>
				<a href="{{ email}}"><span class="details">{{ theme:partial src="svg/mail" }} {{ email }}</span></a>
			</div>
			{{ /entries:listing }}
		</div>

		<div class="divider"><span>INTERNATIONAL</span></div>

		<div class="grid-constrained">
			{{ entries:listing folder="agents/beauchamp" }}
			<div class="grid-3-constrained-padding international">
				<a href="{{ url }}">
					<img class="circle" src="{{ path src="{{ image }}" }}"></img>
					<span class="name">{{ title }}</span>
				</a>
				<span class="details">{{ theme:partial src="svg/phone" }} {{ phone }}</span>
				<a href="{{ email}}">{{ theme:partial src="svg/mail" }} <span class="details">{{ email }}</span></a>
			</div>

			{{ /entries:listing }}
		</div>
	</div>
</section>