<section class="leading background-gray agent-individual">
	<div class="container">

		<aside class="sticky">					
			<img class="circle" src="{{ transform src="{{ image }}" width="300" }}" class="img-circle" />
			<h2>Contact {{ title }}</h2>
			<ul>
				<li>{{ theme:partial src="svg/phone" }} {{ phone }}</li>
				<li>{{ theme:partial src="svg/mail" }} {{ email|link }}</li>
			</ul>
			<div class="dotted"></div>
		</aside>

		<main>
			<div class="agent-info">
				<h1>{{ title }}</h1>
				{{ info }}
			</div>
			{{ if press|not_empty }}
			<div class="green-specs">
				<h4>PRESS</h4>
				<div class="press">
				
				{{ if press|length > 1 }}
				<div class="carousel_tile carousel_tile_2 main_tile">
				{{ press }}
				<div>
				{{ if link === "" }}
				 <div class="carousel-tile press-item">
				 	{{ if image|not_empty }}
				 	<img src="{{ path src="{{ image }}" }}">
				 	{{ endif }}
				 	{{ if text|not_empty }}
				 	<p>{{ text }}</p>
				 	{{ endif }}
				 </div>
				 {{ else }}
				 <a target="_blank" href="{{ link }}" class="carousel-tile press-item">
				 	{{ if image|not_empty }}
				 	<img src="{{ path src="{{ image }}" }}">
				 	{{ endif }}
				 	{{ if text|not_empty }}
				 	<p>{{ text }}</p>
				 	{{ endif }}
				 </a>
				{{ endif }}
				 </div>
				 {{ /press }}
				</div>
				{{ else }}

				<div class="carousel_tile carousel_tile_1 main_tile">
				{{ press }}
				<div>
				{{ if link === "" }}
				 <div class="carousel-tile press-item">
				 	{{ if image|not_empty }}
				 	<img src="{{ path src="{{ image }}" }}">
				 	{{ endif }}
				 	{{ if text|not_empty }}
				 	<p>{{ text }}</p>
				 	{{ endif }}
				 </div>
				 {{ else }}
				 <a target="_blank" href="{{ link }}" class="carousel-tile press-item">
				 	{{ if image|not_empty }}
				 	<img src="{{ path src="{{ image }}" }}">
				 	{{ endif }}
				 	{{ if text|not_empty }}
				 	<p>{{ text }}</p>
				 	{{ endif }}
				 </a>
				{{ endif }}
				 </div>
				 {{ /press }}
				</div>
				{{ endif }}
				
				</div>
			</div>
			{{ endif }}



				
			{{ entries:listing folder="properties/new-york/sale|properties/new-york/lease|properties/international/sale|properties/international/lease" conditions="agents:{url}" }}
				{{ theme:partial src="property_tile_agent" use_context="true" }}  
			{{ /entries:listing }}
			
			{{ entries:listing folder="properties/new-york/sale|properties/new-york/sold|properties/international/sale|properties/international/sold" conditions="agents:{url}, sold:true" sort_by="price" sort_dir="desc" }}
			{{ theme:partial src="recent_transactions_sale" use_context="true" }}
			{{ /entries:listing }}

			{{ entries:listing folder="properties/new-york/lease|properties/new-york/leased|properties/international/lease|properties/international/leased" conditions="agents:{url}, leased:true" sort_by="price" sort_dir="desc" }}
			{{ theme:partial src="recent_transactions_rental" use_context="true" }}
			{{ /entries:listing }}

		</main>

	</div>
</section>

