<section class="hero leading dark agents-background" {{ if hero_image }} style="background-image: url( {{ path src="{{ hero_image }}" }} );" {{ endif }}>
	<div class="container">
		<div class="hero-container">
			<h1>{{ header }}</h1>
			<h5>{{ sub_header }}</h5>
		</div>
	</div>
</section>	

<section class="agents agents-background">
	<div class="container centered">
		<div class="grid-constrained">
			{{ entries:listing folder="agents/garfield" }}
			{{ if first }}
			<div class="grid-3-constrained-padding">
				<div>
					<img class="circle" src="{{ path src="{{ image }}" }}"></img>
					<span class="name">{{ title }}</span>
				</div>
				<span class="details">{{ theme:partial src="svg/phone" }} {{ phone }}</span>
				<a href="{{ email}}"><span class="details">{{ theme:partial src="svg/mail" }} {{ email }}</span></a>
			</div>
			{{ else }}
			<div class="grid-3-constrained-padding">
				<a href="{{ url }}">
					<img class="circle" src="{{ path src="{{ image }}" }}"></img>
					<span class="name">{{ title }}</span>
				</a>
				<span class="details">{{ theme:partial src="svg/phone" }} {{ phone }}</span>
				<a href="mailto:{{ email }}"><span class="details">{{ theme:partial src="svg/mail" }} {{ email }}</span></a>
			</div>
			{{ endif }}
			{{ /entries:listing }}
		</div>

	</div>
</section>