<div class="blog blog-entry">	
	<section class="leading">
		<div class="container">

			<div class="blog-container">

				<div class="blog-left">
					<ul class="categories">
					{{ if categories|not_empty }}
						{{ categories }}
						<li><a href="{{ _site_root }}blog/categories/{{ title|lower }}">{{ value }}</a></li>
						{{ /categories }}
					{{ else }}
						<div class="title-holder"></div>
					{{ endif }}
					</ul>
					<h1>{{ title }}</h1>
					{{ theme:partial src="blog_social" use_context="true" }}
					<img class="main-image" src="{{ path src="{{ main_image }}"}}">
					{{ content }}
				</div>
				<div class="blog-right">
					<div class="authors">
						<h2 class="blog-header">Authors</h2>
						<ul>
						{{ relate:author }}
						<li><a class="author-list" href="{{ _site_root }}blog/authors/{{ title|lower }}">
						<img class="author-image" src="{{ path src="{{ image }}"}}">
						{{ title }}
						</a></li>  
						{{ /relate:author }}
						</ul>
						</ul>
						<h2 class="blog-header">Other News</h2>
						<div class="twitter-feed">
							{{ theme:partial src="twitter" }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

</div>