<div class="blog">	
	<section class="leading">
		<div class="container">

			<div class="blog-container">

				<div class="blog-left">
					{{ content}}
				</div>
				<div class="blog-right">
					<div class="authors">
						<h2 class="blog-header">Authors</h2>
						{{ taxonomy:listing type="authors" folder="blog"}}
						<li><a href="{{ url }}">{{ name }}</a></li>     
						{{ /taxonomy:listing }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		{{ entries:pagination folder="blog" limit="5" }}
		{{ if next_page || previous_page }}
		<div class="pagination clearfix">
			{{ if next_page }}
			<a href="{{ next_page }}" class="older">Older Posts</a>
			{{ endif }}
			{{ if previous_page }}
			<a href="{{ previous_page }}" class="newer">Newer Posts</a>
			{{ endif }}
		</div>
		{{ endif }}
		{{ /entries:pagination }}
	</div>
	

</div>