<section class="hero leading dark" {{ if hero_image }} style="background-image: url( {{ path src="{{ hero_image }}" }} );" {{ endif }}>
	<h1>{{ header }}</h1>
	{{ if sub_header }}<h3>{{ sub_header }}</h3>{{ endif }}
</section>	
<section class="bg-seafoam">
	<div class="container">
		<div class="company beliefs">
			<span class="company-title">OUR BELIEFS</span>
			<div class="divider"></div>
			<span>{{ beliefs }}</span>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="company why">
				<span class="company-title">WHY GARFIELD</span>
				<div class="divider"></div>
				{{ why }}
				{{ why_grid }}
				<h3>{{ name }}</h3>
				<p>{{ description }}</p>
				{{ /why_grid }}
			</div>
		</div>
	</section>
	<section class="bg-gray">
		<div class="container">
			<div class="company inner-content">
				<span class="company-title">OUR HISTORY</span>
				<div class="divider"></div>
				<h3>TOWNHOMES &amp; BUILDING SPECIALISTS SINCE 1972</h3>
				<div class="divider"></div>
				{{ history }}
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="company inner-content">
				<span class="company-title">OUR INTERNATIONAL PARTNER</span>
				<div class="divider"></div>
				<div><img src="{{ path src="{{ international_image }}" }}" ></div>
				<div class="divider"></div>
				<div></div>
				{{ international }}
			</div>
		</div>
	</section>