{{ theme:partial src="hero_dark" }}
<section class="bg-seafoam">
	<div class="container">
		<div class="contact">
			<div class="info">
			<h3>Contact</h3>
			<div>{{ theme:partial src="svg/phone" }}<span>{{ globals:phone }}</span></div>
			<div><a href="{{ globals:email_contact }}">{{ theme:partial src="svg/mail" }}<span>{{ globals:email_contact }}</span></a></div>
			<br>
			<div>{{ theme:partial src="svg/maps" }}<span>{{ globals:address_line1 }}</span></div>
			<div class="line-two">{{ globals:address_line2 }}</div>
			<br>
			<div class="map"><a href="https://www.google.com/maps/place/Leslie+J+Garfield+%26+Co+Inc/@40.7628871,-73.969216,15z/data=!4m2!3m1!1s0x0:0x85a98881e26d3228?sa=X&ved=0CGcQ_BIwCmoVChMIseGKqtLWyAIVDfZjCh2bXwGM" target="blank"></a></div>
			</div>

			<div class="sales">
			<h3>Sales Enquiries</h3>
			<!-- Begin MailChimp Signup Form -->
			<div class="input-clear" id="mc_embed_signup">
        {{ raven:form formset="general_enquiries" attr="class:multi" }}
        <div class="form-full">
     			<input type="email" value="" placeholder="Email" name="EMAIL" class="input required email" id="mce-EMAIL">
     		</div>
     		<div class="form-full">
        	<input type="text" value="" placeholder="First Name" name="FNAME" class="input " id="mce-FNAME">
        </div>
        <div class="form-full">
        	<input type="text" value="" placeholder="Last Name" name="LNAME" class="input " id="mce-LNAME">
        </div>
        <div class="form-full">
        	<input type="submit" value="SEND" name="subscribe" id="mc-embedded-subscribe" class="btn-garfield">
        </div>

				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        {{ /raven:form }}
			</div>
	
			<!--End mc_embed_signup-->
			</div>


		</div>
	</div>
</section>
