	<section class="hero leading" style="background-image: url( {{ path src="{{ hero_image }}" }} );">
		<h1>{{ tag_line }}</h1>
		<h3>{{ sub_tag_line}}</h3>
		<a href="{{ url }}properties" class="btn btn-garfield">View Properties</a>
	</section>	

	<section id="landing-sub-nav">
		<div class="container">
			<div class="grid-3 centered">
				<a href="{{ url }}company" class="circle-nav">
					<div class="no-hover">
						{{ theme:partial src="svg/home_glasses" }}
						<h4>Our Story</h4>

					</div>
					<div class="hover">
						<span class="title">Our Story</span>
						<p>Our History is as Rich as our Story is Deep</p>
						<span class="sub-title">READ OUR STORY ></span>
					</div>
				</a>
			</div>
			<div class="grid-3 centered">
				<a href="{{ url }}properties" class="circle-nav">
					<div class="no-hover">
						{{ theme:partial src="svg/home_building" }}
						<h4>Search Listings</h4>
					</div>
					<div class="hover">
						<span class="title">Our Story</span>
						<p>Our History is as Rich as our Story is Deep</p>
						<span class="sub-title">READ OUR STORY ></span>
					</div>
				</a>
			</div>
			<div class="grid-3 centered">
				<a data-toggle="modal" data-target="#contact-modal" href="#" class="circle-nav">
					<div class="no-hover">
						{{ theme:partial src="svg/home_for_sale" }}
						<h4>Looking to Sell?</h4>
					</div>
					<div class="hover">
						<span class="title">Our Story</span>
						<p>Our History is as Rich as our Story is Deep</p>
						<span class="sub-title">READ OUR STORY ></span>
					</div>
				</a>
			</div>
			<div class="grid-3 centered">
				<a href="{{ url }}neighborhoods" class="circle-nav">
					<div class="no-hover">
						{{ theme:partial src="svg/home_neighborhood" }}
						<h4>Our Neighborhoods</h4>
					</div>
					<div class="hover">
						<span class="title">Our Story</span>
						<p>Our History is as Rich as our Story is Deep</p>
						<span class="sub-title">READ OUR STORY ></span>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="circle-icon light-gray-bg" id="featured-properties">
		<div class="circle-leader">
			<div class="circle light-gray-bg">
				{{ theme:partial src="svg/home_building" }}
			</div>
			<h4>FEATURED PROPERTIES</h4>
		</div>
		<div class="container">
				<div class="property_tile">
					{{ entries:listing folder="properties/sale" conditions="featured"}}
						{{ theme:partial src="property_tile" use_context="true" }}
					{{ /entries:listing }}
				</div>
		</div>
	</section>
	<section id="featured-properties" class="insights">
		<div class="circle-leader">
			<div class="circle insights">
				{{ theme:partial src="svg/home_book" }}
			</div>
			<h4>Latest News &amp; Insights</h4>
	{{ theme:partial src="modal_contact" }}

		</div>
		<div class="container">
		{{ insights }}
			<div class="grid-4 centered">
				<a href="{{ link }}" class="insight-tile">
					<h2>{{ headline }}</h2>
					<p>{{ info }}</p>
					<span>{{ link_title }} ></span>
				</a>
			</div>
		{{ /insights }}
		</div>
	</section>
