{{ theme:partial src="hero_mask" }}
	<nav id="scroll-spy-nav" class="secondary-nav">
		<ul class="nav" role="tablist">
			<li><a class="scroll smooth" href="#description" >Description</a></li>
			<li><a class="scroll smooth" href="#location">Location</a></li>
			<li><a class="scroll smooth" href="#numbers">By the Numbers</a></li>
			<li><a class="scroll smooth" href="#other_properties">Properties</a></li>
		</ul>

	</nav>
	<section>
		<a id="description" class="secondary-nav-link"></a>
		<div class="container large-body">
			<div class="section-title">DESCRIPTION</div>
			<p class="intro-section">{{ description }}</p>
		</div>
	</section>
	<section class="neighborhood bg-gray">
		<a id="location" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">LOCATION</div>
			<div id="map"></div>
		</div>
	</section>

	<section>
		<a id="numbers" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">BY THE NUMBERS</div>
			<div class="grid numbers">
				<div class="grid-6 full">
					<h1>{{ left }}%</h1>
					<span class="price-descriptor">RISE IN PROPERTY PRICES IN THE LAST FIVE YEARS</span>
					{{ theme:partial src="svg/graph" }}
					<div class="divider"></div>
				</div>
				<div class="grid-6">

					<div class="half">

						<div class="descriptor">
							<span class="price">${{ right_top|format_number }}*</span>
						</div>
						{{ theme:partial src="svg/diamond" }}

					</div>
					<span class="price-descriptor">AVERAGE PRICE PER SQ/ FT</span>
					<div class="divider"></div>
					{{ right_bottom }}
					{{ if price_tag }}
					<div class="half">
						<div class="descriptor">
							<span class="price tilted">${{ price_tag }}*</span>
						</div>
						{{ theme:partial src="svg/price_tag" }}
					</div>
					<span class="price-descriptor">AVERAGE SALE PRICE</span>
					{{ elseif simple_graphic }}
					<div class="half">
						<h1 class="large">
							{{ simple_graphic }}
						</h1>
					</div>
					<span class="price-descriptor">TOWNHOUSES SOLD IN THE LAST YEAR</span>
					{{ endif }}
					{{ /right_bottom }}

				</div>

			</div>
			<p class="light">* These numbers are averages and fluctuate frequently. Contact us for the most up-to-date data on NYC neighborhoods and blocks.</p>
		</div>
	</section>

	<section class="bg-seafoam">
		<a id="other_properties" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">CURRENT PROPERTIES IN THIS NEIGHBORHOOD</div>
			{{ entries:listing folder="properties/new-york/sale|properties/new-york/rental" conditions="property_location:{title}"}}
			{{ if no_results }}
			<p class="no_results">We are currently have no other properties for sale or lease in this neighborhood. Be sure to check back soon.</p>
			{{ else }}
			{{ if first }}
			<div class="property_tile">
			<div class="tile-container">

			{{ if total_results == 1}}
			<div class="carousel_tile carousel_tile_1">
			{{ elseif total_results == 2 }}
			<div class="carousel_tile carousel_tile_2">
			{{ else }}
			<div class="carousel_tile carousel_tile_3">
			{{ endif }}
			
			{{ endif }}
				{{ theme:partial src="property_tile" use_context="true" }}
			{{ if last }}        
			</div>
			</div>
			</div>
			{{ endif }}
			{{ endif }}
			{{ /entries:listing }}
		</div>
	</section>

	<section id="other_neighborhoods" class="bg-gray">
		<div class="container">
			<div class="section-title">OTHER NEIGHBORHOODS</div>
			<ul class="grid">
				{{ entries:listing folder="neighborhoods/individual_neighborhoods" conditions="url:!{url}" }}	
				{{ theme:partial src="neighborhood_tile" use_context="true" }}
				{{ /entries:listing }}
			</ul>
		</div>
	</section>