
{{ var:my_date_since }}{{ date_calc start_date="{current_date}" method="subDays" value="30" format="F d, Y" }}{{ /var:my_date_since }}

<script type="text/javascript">
{{ if get:view != "map" }}
  var data = {
    {{ entries:listing folder="properties/new-york/sale" conditions="streeteasy_status:active||in-contract" show_future="true" }}
    {{ if first }}
    "sale": {
      {{ endif }}
      "{{ slug }}":
      {
        "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
        "datestamp": "{{ datestamp }}",
        "preview_image":"{{ preview_image }}",
        "url":"{{ url }}",
        "streeteasy_status": "{{ streeteasy_status }}",
        "openhouse": "{{ openhouse }}",
        "price": "{{ price }}",
        "currency": "{{ if currency|not_empty }}{{ currency }}{{ else }}${{endif }}",
        "property_type": "{{ property_type }}",
        "sqft": "{{ sqft }}",
        "property_location": "{{ property_location }}"
      },
      {{ /entries:listing}}
      {{ entries:listing folder="properties/new-york/sale" conditions="streeteasy_status:sold" show_future="true" since="{var:my_date_since}" }}
      {{ if !no_results }}
      "{{ slug }}":
      {
        "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
        "datestamp": "{{ datestamp }}",
        "preview_image":"{{ preview_image }}",
        "url":"{{ url }}",
        "streeteasy_status": "{{ streeteasy_status }}",
        "openhouse": "{{ openhouse }}",
        "price": "{{ price }}",
        "currency": "{{ if currency|not_empty }}{{ currency }}{{ else }}${{endif }}",
        "property_type": "{{ property_type }}",
        "sqft": "{{ sqft }}",
        "results": "{{ total_results }}",
        "property_location": "{{ property_location }}"
      },
      {{ endif 	}}
      {{ /entries:listing}}
    },
    {{ entries:listing folder="properties/new-york/rental" conditions="streeteasy_status:active||in-contract" show_future="true" }}
    {{ if first }}
    "lease": {
      {{ endif }}
      "{{ slug }}":
      {
        "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
        "datestamp": "{{ datestamp }}",
        "preview_image":"{{ preview_image }}",
        "url":"{{ url }}",
        "streeteasy_status": "{{ streeteasy_status }}",
        "openhouse": "{{ openhouse }}",
        "price": "{{ price }}",
        "currency": "{{ if currency|not_empty }}{{ currency }}{{ else }}${{endif }}",
        "property_type": "{{ property_type }}",
        "sqft": "{{ sqft }}",
        "results": "{{ total_results }}",
        "property_location": "{{ property_location }}"
      },
      {{ /entries:listing}}
      {{ entries:listing folder="properties/new-york/rental" since="{ var:my_date_since }" conditions="streeteasy_status:leased" show_future="true" }}
      {{ if !no_results }}
      "{{ slug }}":
      {
        "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
        "datestamp": "{{ datestamp }}",
        "preview_image":"{{ preview_image }}",
        "url":"{{ url }}",
        "streeteasy_status": "{{ streeteasy_status }}",
        "openhouse": "{{ openhouse }}",
        "price": "{{ price }}",
        "currency": "{{ if currency|not_empty }}{{ currency }}{{ else }}${{endif }}",
        "property_type": "{{ property_type }}",
        "sqft": "{{ sqft }}",
        "results": "{{ total_results }}",
        "property_location": "{{ property_location }}"
      },
      {{ endif }}
      {{ /entries:listing}}
    }
  }
  {{ endif }}
</script>
{{ if get:view != "map" }}
<div id="properties"></div>
{{ else }}
<div class="property_nav dark_gray leading properties_grid">
	<div class="container">
		<div class="rent-or-buy">
			<ul>
				<li><a  id="buy" class="active">Buy</a></li>
				<li><a  id="rent"> Rent</a></li>
			</ul>
		</div>
    <div class='view-type'>
      <ul class='views'>
        <li>
          <a href="{{ url }}"><i class='fa fa-th-large'></i>Grid View</a>
        </li>
        <li>
          <a class="active" id="map-link"><i class='fa fa-map-marker'></i>Map View</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<section style="padding: 0 !important" class="bg-gray">

<script type="text/javascript">



function initialize() {
  var locations = [
  {{ entries:listing folder="properties/new-york/sale"}}
  [
  '{{ title }}', 
  {{ location }}
  {{ latitude}},
  {{ longitude }}{{/location}},
  '{{url}}',
  '{{ preview_image }}',
  {{ if openhouse == "1" }}'../_themes/main/img/map_marker_red.svg'{{ else }}'../_themes/main/img/map_marker_green.svg'{{endif}},
  '{{ if currency == "dollars" }}${{ elseif currency == "sterling" }}£{{ elseif currency == "euros" }}€{{ elseif currency == "none" }}{{ else }}${{ endif }}{{ if streeteasy_type == "rental"}}{{ price|format_number }}/month{{ else }}{{ price|format_number }}{{ endif }}',
  '{{ property_type }}',
  '{{ sqft|format_number }} ft',
  '{{ property_location }}'
  ],
  {{ /entries:listing }}
  ];

  window.map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  });

  var infowindow = new google.maps.InfoWindow();
  var bounds = new google.maps.LatLngBounds();
  var markers = [];

  for (i = 0; i < locations.length; i++) {



    var title = locations[i][0];
    var lat = locations[i][1];
    var long = locations[i][2];
    var url = locations[i][3];
    var image = locations[i][4];
    var icon = locations[i][5];
    var price = locations[i][6];
    var type = locations[i][7];
    var size = locations[i][8];
    var location = locations[i][9];
    var content = 
    '<a href=' + '"' + url + '"' + 'class=' + '"' + 'property_box map' + '"' + '>' +
      '<div class="image-wrap">' +
        '<div class="preview-image" style=' + '"background-image: url(' + image + '">' + 
        '</div>' +
      '</div>' +
      
      '<div class=' + '"' + 'property_tile_info' + '"' + '>' +
        '<div class=' + '"' + 'top-info' + '"' + '>' +
          '<span class=' + '"' + 'prop-title' + '"' + '>' + title + '</span>' +
          '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
          '<span class=' + '"' + 'prop-price' + '"' + '>' + price + '</span>' +
          '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
          '<span class=' + '"' + 'prop-details' + '"' + '>' + type + '</span>' +
          '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
          '<span class=' + '"' + 'prop-details' + '"' + '>' + size + '<sup>2</sup>' + '</span>' +
          '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
          '<span class=' + '"' + 'prop-location' + '"' + '>' + location + '</span>' +
        '</div>' +
        '<div class=' + '"' + 'bottom-info' + '"' + '>' +
        '</div>' +
      '</div>' +
    '</a>';

    var infowindow = new google.maps.InfoWindow();

    markers.push(infowindow);

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      icon: icon  
    });

    bounds.extend(marker.position);

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        infowindow.setContent(content);
        infowindow.open(map, marker);
      }
    })(marker, i));

    google.maps.event.addListener(map, "click", function(event) {
        for (var i = 0; i < markers.length; i++ ) {  //I assume you have your infoboxes in some array
             markers[i].close();
        }
    });
  }

  map.fitBounds(bounds);

  var listener = google.maps.event.addListener(map, "idle", function () {
    map.setZoom(13);
    google.maps.event.removeListener(listener);
  });


}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDNoSfsI1ielEAA_2AX1XgZAb8eMaXG6Y4&' + 'callback=initialize';
  document.body.appendChild(script);
}

function test() {
  console.log('foo');
}

window.onload = loadScript();







</script>

  <div id="map"></div>

</section>
{{ endif }}

