<section class="leading property-page bg-gray">
	<div class="container">

		<aside class="sticky">
		<div class="agent-container">
			<div class="agent property-agents aside">
				<div class="dotted first"></div>
				{{ if realtor === "garfield" }}
				{{ relate:agents }}
				<div class="agent-block">
					<a class="agent-image" href="{{ url }}">
						<img src="{{ transform src="{{ image }}" width="300" }}" class="img-circle" />
					</a>
					<div class="agent-details">
						<a href="{{ url }}"><span>{{ title }}</span></a>
						<ul>
							{{ if phone }}<li>{{ theme:partial src="svg/phone" }} {{ phone }}</li>{{ endif }}
							{{ if email }}<li>{{ theme:partial src="svg/mail" }} {{ email|link }}</li>{{ endif }}
						</ul>
					</div>
				</div>
				{{ /relate:agents }}
				{{ else }}
				<div class="agent-block">
					<a class="agent-image" href="http://beauchampestates.com" target="_blank" >
						<img src="../../../_themes/main/img/beauchamp.jpg" class="img-circle" />
					</a>
					<div class="agent-details">
						<a href="http://beauchampestates.com" target="_blank"><span>Beauchamp Estates</span></a>
						<ul>
							<li>{{ theme:partial src="svg/phone" }} +44 (0) 20 7499 7722</li>
							<li>{{ theme:partial src="svg/mail" }}<a href="mailto:info@beauchamp.co.uk">info@beauchamp.co.uk</a></li>
						</ul>
					</div>
				</div>
				{{ endif }}

			</div>
			{{ if brochure or floor_plans }}
			<div class="dotted"></div>
			<div class="agent property-downloads">
			{{ if brochure }}
				<a href="{{ brochure }}" target="_blank">
					{{ theme:partial src="svg/download" }}
					<span>Brochure</span>
				</a>
			{{ endif }}
			{{ if floor_plans }}
				<a href="{{ floor_plans }}" target="_blank">
					{{ theme:partial src="svg/floorplans" }}
					<span>Floorplans</span>
				</a>
			{{ endif }}
			</div>
			{{ endif }}
			<div class="dotted"></div>
			<div class="agent property-schedule">
				<a data-toggle="modal" data-target="#viewing-modal" href="#" class="btn btn-garfield">Schedule a viewing</a>
			</div>
			<div class="dotted"></div>
			</div>
		</aside>

		<main>
			<div class="property-info">

				<div class="property-header">
					<h2>{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}</h2>

					<div class="social right-align gray">
						<a href="mailto:?subject={{ title }} - Property Found on lesliegarfield.com&body={{ _site_url }}{{ url }}">
							<i class="fa fa-envelope fa-lg"></i>
						</a>
						<a href="https://twitter.com/intent/tweet?url={{ _site_url }}{{ url }}">
							<i class="fa fa-twitter fa-lg"></i>
						</a>
						<a href="javascript:pinIt();">
							<i class="fa fa-pinterest fa-lg"></i>
						</a>
						<a class="fb" 
						data-title="{{ title }}" 
						data-desc="Property listed at Leslie Garfield" 
						data-image="{{ preview_image}}"
						href="{{ _site_url }}{{ url }}">
							<i class="fa fa-facebook fa-lg"></i>
						</a>
					</div>
				</div>
				<div class="property-subheader">
					{{ if openhouse }}
					<div class="location split">
					{{ else }}
					<div class="location">
					{{ endif }}
						<span>{{ property_location }}</span>
						{{ if location_granular|not_empty }}
						<span class="divider"></span>
						<span>{{ location_granular }}</span>
						{{ endif }}
					</div>
					{{ if openhouse or streeteasy_status !== "active"}}
					<div class="open-house">
						{{ if openhouse }}
						{{ openhouse_grid }}
						{{ if date|not_empty }}
						<span class="red"><i class="fa fa-home"></i> {{date format="D, m/j" }}, {{startTime}} - {{ endTime }}</span>
						{{ else }}
						<span class="red"><i class="fa fa-home"></i> Enquire for Details</span>
						{{ endif }}
						{{ /openhouse_grid }}
						{{ elseif streeteasy_status != "active" }}
						<span>{{ if streeteasy_status == "in-contract"}}In Contract{{ elseif streeteasy_status == "sold" }}Sold{{ endif }}</span>
						{{ endif }}
					</div>	
					{{ else }}			
					{{ endif }}
				</div>

				<div class="property-carousel">
					{{ photo_carousel }}
					<div>
						<img data-lazy="{{ transform path width="900" height="600" src="{{ value }}"}}">
					</div>
					{{ /photo_carousel}}
				</div>
				<div class="agent-internal">
					<div class="agent property-agents">
						{{ relate:agents }}
						<div class="agent-block">
							<a class="agent-image" href="{{ url }}">
								<img src="{{ transform src="{{ image }}" width="300" }}" class="img-circle" />
							</a>
							<div class="agent-details">
								<a href="{{ url }}"><span>{{ title }}</span></a>
								<ul>
								{{ if phone }}<li>{{ theme:partial src="svg/phone" }} {{ phone }}</li>{{ endif }}
								{{ if email }}<li>{{ theme:partial src="svg/mail" }} {{ email|link }}</li>{{ endif }}
								</ul>
							</div>
						</div>
						{{ /relate:agents }}
					</div>
					</div>
					<div class="dotted"></div>
					{{ if brochure or floor_plans }}
					
					<div class="agent property-downloads">
					{{ if brochure }}
						<a href="{{ brochure }}" target="_blank">
							{{ theme:partial src="svg/download" }}
							<span>Brochure</span>
						</a>
					{{ endif }}
					{{ if floor_plans }}
						<a href="{{ floor_plans }}" target="_blank">
							{{ theme:partial src="svg/floorplans" }}
							<span>Floorplans</span>
						</a>
					{{ endif }}
					</div>
					{{ endif }}
					<div class="dotted"></div>

					<div class="agent property-schedule">
						<a data-toggle="modal" data-target="#viewing-modal" href="#" class="btn btn-garfield">Schedule a viewing</a>

				</div>
				<div class="green-specs">
					<div class="specs">
					<div class="title">
						{{ theme:partial src="svg/glasses" }}
						<span>SPECIFICATIONS</span>
					</div>
						
						<ul>
							<li>Price</li>
						
							{{ if terms|not_empty }}
							<li>Lease Terms</li>
							{{ endif }}

							{{ if plot|not_empty }}
							<li>Plot</li>
							{{ endif }}

							{{ if building_size|not_empty }}
							<li>Building</li>
							{{ endif }}

							{{ if ownership|not_empty }}
							<li>Ownership</li>
							{{ endif }}

							{{ if build_date|not_empty }}
							<li>Built</li>
							{{ endif }}

							{{ if stories|not_empty }}
							<li>Stories</li>
							{{ endif }}

							<li>Square Feet</li>

							{{ if units|not_empty }}
							<li>Units</li>
							{{ endif }}

							{{ if rooms|not_empty }}
							<li>Rooms</li>
							{{ endif }}

							<li>Bedrooms</li>

							<li>Bathrooms</li>

							{{ if powder|not_empty }}
							<li>Powder Rooms</li>
							{{ endif }}

							{{ if pet_policy|not_empty }}
							<li>Pet Policy</li>
							{{ endif }}

							{{ if furnished|not_empty }}
							<li>Furnished/Unfurnished</li>
							{{ endif }}

							{{ if taxes|not_empty }}
							<li>Annual Taxes</li>
							{{ endif }}

							{{ if income|not_empty }}
							<li>Income</li>
							{{ endif }}

							{{ if expenses|not_empty }}
							<li>Expenses</li>
							{{ endif }}

							{{ if common_charges|not_empty }}
							<li>Common Charges</li>
							{{ endif }}

							{{ if maintenance|not_empty }}
							<li>Maintenance</li>
							{{ endif }}
						</ul>
						<ul>
							<li>{{ if currency == "sterling" }}£{{ elseif currency == "euros" }}€{{ else }}${{ endif }}{{ price|format_number }}{{ if ownership == "rental" }}/month{{ endif }}</li>

							{{ if terms|not_empty }}
							<li>{{ terms }}</li>
							{{ endif }}

							{{ if plot|not_empty }}
							<li>{{ plot|format_number }}</li>
							{{ endif }}

							{{ if building_size|not_empty }}
							<li>{{ building_size }}</li>
							{{ endif }}

							{{ if ownership|not_empty }}
							<li>{{ ownership|ucfirst }}</li>
							{{ endif }}

							{{ if build_date|not_empty }}
							<li>{{ build_date }}</li>
							{{ endif }}

							{{ if stories|not_empty }}
							<li>{{ stories }}</li>
							{{ endif }}

							<li>{{ sqft|format_number }} ft<sup>2</sup></li>

							{{ if units|not_empty }}
							<li>{{ units|format_number }}</li>
							{{ endif }}

							{{ if rooms|not_empty }}
							<li>{{ rooms }}</li>
							{{ endif }}

							<li>{{ bedrooms }}</li>

							<li>{{ bathrooms }}</li>

							{{ if powder|not_empty }}
							<li>{{ powder }}</li>
							{{ endif }}

							{{ if pet_policy|not_empty }}
							<li>{{ pet_policy|ucfirst  }}</li>
							{{ endif }}

							{{ if furnished|not_empty }}
							<li>{{ furnished|ucfirst  }}</li>
							{{ endif }}

							{{ if taxes|not_empty }}
							<li>${{ taxes|format_number }}</li>
							{{ endif }}

							{{ if income|not_empty }}
							<li>${{ income|format_number }}</li>
							{{ endif }}

							{{ if expenses|not_empty }}
							<li>${{ expenses|format_number }}</li>
							{{ endif }}

							{{ if common_charges|not_empty }}
							<li>${{ common_charges|format_number }}</li>
							{{ endif }}
							
							{{ if maintenance|not_empty }}
							<li>${{ maintenance|format_number }}</li>
							{{ endif }}

						</ul>
					</div>
					<div class="location_features">
						<div class="title">
							{{ theme:partial src="svg/maps" }}
							<span>LOCATION</span>
						</div>
						<ul>
							<li>{{ location_granular }}</li>
						</ul>
						<div class="title">
							{{ theme:partial src="svg/stars" }}
							<span>KEY FEATURES</span>
						</div>
						
						<ul>

							{{ if amenities }}
							{{ amenities }}
							{{ if value =="washerDryer" }}
							<li>Washer / Dryer</li>
							{{ else }}
							<li>{{ value|ucfirst }}</li>
							{{ endif }}
							{{ /amenities }}
							{{ endif }}
							
							{{ key_features }}
							<li>{{ value }}</li>
							{{ /key_features }}

						</ul>
					</div>
				</div>

				
				<div class="summary">
					{{ summary_intro }}
					{{ if summary_full|not_empty }}
					<div style="display: none">
						{{ summary_full }}
					</div>
					<a class="read-more-expander expander-prev block" href=""><i  class="fa fa-plus-circle green"></i><span>Read More</span></a>
					{{ endif }}
				</div>
				
			</div>
		</main>



	</div>
</section>



{{ entries:listing folder="properties/new-york/{streeteasy_type}|properties/international/{streeteasy_type}" conditions="url:!{url}, property_location:{ property_location }"  }}
{{ if no_results }}
{{ else }}
{{ if first }}
<section class="circle-icon similar-properties-gray" id="featured-properties">
	<div class="circle-leader">
		<div class="circle similar-properties-gray">
			{{ theme:partial src="svg/home_building" }}
		</div>
		<h4>SIMILAR PROPERTIES</h4>
	</div>
	<div class="container">
		<div class="property_tile">
		<div class="tile-container">

		{{ if total_results == 1}}
		<div class="carousel_tile carousel_tile_1">
		{{ elseif total_results == 2 }}
		<div class="carousel_tile carousel_tile_2">
		{{ else }}
		<div class="carousel_tile carousel_tile_3">
		{{ endif }}
		
		{{ endif }}
			{{ theme:partial src="property_tile" use_context="true" }}
		{{ if last }}        
		</div>
		</div>
		</div>
	</div>
</section> 
{{ endif }}
{{ endif }}
{{ /entries:listing }}




{{ theme:partial src="modal_listing" use_context="true" }}

