<section class="leading property-page background-gray">
	<div class="container">

		<aside class="sticky">
			<div class="agent property-agents">
				<div class="dotted"></div>
				{{ relate:agents }}
				<div class="agent-block">
					<a class="agent-image" href="{{ url }}">
						<img src="{{ transform src="{{ image }}" width="300" }}" class="img-circle" />
					</a>
					<div class="agent-details">
						<a href="{{ url }}"><h3>{{ title }}</h3></a>
						<ul>
							<li>{{ theme:partial src="svg/phone" }} {{ phone }}</li>
							<li>{{ theme:partial src="svg/mail" }} {{ email|link }}</li>
						</ul>
					</div>
				</div>
				{{ /relate:agents }}

			</div>
			<div class="dotted"></div>
			<div class="agent property-downloads">
				<a href="{{ brochure }}" target="_blank">
					{{ theme:partial src="svg/download" }}
					<span>Download</span>
				</a>
				<a href="{{ floor_plans }}" target="_blank">
					{{ theme:partial src="svg/floorplans" }}
					<span>Floorplans</span>
				</a>
			</div>
			<div class="dotted"></div>
			<div class="agent property-schedule">
				<a href="{{ url }} properties" class="btn btn-garfield">Schedule a viewing</a>
			</div>
			<div class="dotted"></div>
		</aside>

		<main>
			<div class="property-info">

				<div class="property-header">
					<h1>{{ title }}</h1>

					<div class="social">
						<a href="">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="javascript:selectPinImage()">
							<span target="_blank" class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="javascript:fbShare('{{ url }}', 'Fb Share', '{{ url }}', '{{ url }}', 500, 250)">
							<span  class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="property-subheader">
					<div class="location">
						<span>{{ property_location }}</span>
						{{ if location_granular|not_empty }}
						<span class="divider"></span>
						<span>{{ location_granular }}</span>
						{{ endif }}
					</div>
					<div class="open-house">

						{{ if openhouse }}
						{{ openhouse_grid }}
						{{ if date|not_empty }}
						<span class="red">Open House: {{date format="D, m-j" }}, {{startTime}} - {{ endTime }}</span>
						{{ else }}
						<span class="red">Open House: Enquire for Details</span>
						{{ endif }}
						{{ /openhouse_grid }}
						{{ else }}
						<span>{{ streeteasy_status }}</span>
						{{ endif }}

					</div>				
				</div>

				<div class="property-carousel">
					{{ photo_carousel }}
					<div>
						<img src="{{ path src="{{ value }}"}}">
					</div>
					{{ /photo_carousel}}
				</div>

				<div class="green-specs">
					<div class="specs">
					<div class="title">
						{{ theme:partial src="svg/glasses" }}
						<h3>SPECIFICATIONS</h3>
					</div>
						
						<ul>
							{{ if price|not_empty }}
							<li>Price</li>
							{{ endif }}

							{{ if plot|not_empty }}
							<li>Plot</li>
							{{ endif }}

							{{ if building_size|not_empty }}
							<li>Building</li>
							{{ endif }}

							{{ if ownership|not_empty }}
							<li>Ownership</li>
							{{ endif }}

							{{ if build_date|not_empty }}
							<li>Built</li>
							{{ endif }}

							{{ if stories|not_empty }}
							<li>Stories</li>
							{{ endif }}

							{{ if sqft|not_empty }}
							<li>Square Feet</li>
							{{ endif }}

							{{ if units|not_empty }}
							<li>Units</li>
							{{ endif }}

							{{ if rooms|not_empty }}
							<li>Rooms</li>
							{{ endif }}

							{{ if bedrooms|not_empty }}
							<li>Bedrooms</li>
							{{ endif }}

							{{ if bathrooms|not_empty }}
							<li>Bathrooms</li>
							{{ endif }}

							{{ if powder|not_empty }}
							<li>Powder Rooms</li>
							{{ endif }}

							{{ if taxes|not_empty }}
							<li>Taxes</li>
							{{ endif }}

							{{ if income|not_empty }}
							<li>Income</li>
							{{ endif }}

							{{ if expenses|not_empty }}
							<li>Expenses</li>
							{{ endif }}

							{{ if fees|not_empty }}
							{{ fees }}

							{{ if common_charges|not_empty }}
							<li>Common Charges</li>
							{{ endif }}

							{{ if maintenance|not_empty }}
							<li>Maintenance</li>
							{{ endif }}

							{{ /fees}}
							{{ endif }}
						</ul>
						<ul>
							{{ if price|not_empty }}
							<li>${{ price|format_number }}</li>
							{{ endif }}

							{{ if plot|not_empty }}
							<li>{{ plot }}</li>
							{{ endif }}

							{{ if building_size|not_empty }}
							<li>{{ building_size }}</li>
							{{ endif }}

							{{ if ownership|not_empty }}
							<li>{{ ownership}}</li>
							{{ endif }}

							{{ if build_date|not_empty }}
							<li>{{ build_date }}</li>
							{{ endif }}

							{{ if stories|not_empty }}
							<li>{{ stories }}</li>
							{{ endif }}

							{{ if sqft|not_empty }}
							<li>{{ sqft|format_number }} ft<sup>2</sup></li>
							{{ endif }}

							{{ if units|not_empty }}
							<li>{{ units|format_number }}</li>
							{{ endif }}

							{{ if rooms|not_empty }}
							<li>{{ rooms }}</li>
							{{ endif }}

							{{ if bedrooms|not_empty }}
							<li>{{ bedrooms }}</li>
							{{ endif }}

							{{ if bathrooms|not_empty }}
							<li>{{ bathrooms }}</li>
							{{ endif }}

							{{ if powder|not_empty }}
							<li>{{ powder }}</li>
							{{ endif }}

							{{ if taxes|not_empty }}
							<li>${{ taxes|format_number }}</li>
							{{ endif }}

							{{ if income|not_empty }}
							<li>{{ income }}</li>
							{{ endif }}

							{{ if expenses|not_empty }}
							<li>{{ expenses }}</li>
							{{ endif }}

							{{ if fees|not_empty }}
							{{ fees }}

							{{ if common_charges|not_empty }}
							<li>{{ common_charges }}</li>
							{{ endif }}
							{{ if maintenance|not_empty }}
							<li>{{ maintenance }}</li>
							{{ endif }}

							{{ /fees}}
							{{ endif }}
						</ul>
					</div>
					<div class="location_features">
						<div class="title">
							{{ theme:partial src="svg/maps" }}
							<h3>LOCATION</h3>
						</div>
						<ul>
							<li>{{ location_granular }}</li>
						</ul>
						<div class="title">
							{{ theme:partial src="svg/stars" }}
							<h3>KEY FEATURES</h3>
						</div>
						
						<ul>
							{{ key_features }}
							<li>{{ value }}</li>
							{{ /key_features }}
						</ul>
					</div>
				</div>

				{{ if summary_intro|not_empty }}
				<div class="summary">
					{{ summary_intro }}
					<div style="display: none">
						{{ summary_full }}
						<p class="small">
							All information regarding property for sale, rental or financing is from sources deemed reliable, no representation is made, or is to be implied. As to the accuracy thereof and it is submitted subject to errors, omissions, change of price, rental or other conditions, prior sale, lease or financing, or withdrawal without notice.
						</p>
						<p class="small">
							The information contained herein has either been given to us by the owner of the property or obtained from sources that we deem reliable. We have no reason to doubt its accuracy but we do not guarantee it. All zoning, buildable footages and uses must be independently verified. The value of this investment is dependent on these estimates and assumptions made above, as well as the investment income, the tax bracket, and other factors which you tax advisor and/or legal counsel should evaluate. The prospective buyer should carefully verify each item of income, and all other information herein.
						</p>
					</div>
					<a class="read-more-expander expander-prev block" href=""><i  class="fa fa-plus-circle green"></i><span>Read More</span></a>
				</div>
				{{ endif }}
			</div>
		</main>

	</div>
</section>

<section class="circle-icon similar-properties-gray" id="featured-properties">
	<div class="circle-leader">
		<div class="circle similar-properties-gray">
			{{ theme:partial src="svg/home_building" }}
		</div>
		<h4>Similar Properties</h4>
	</div>
	<div class="container">
		<div class="property_tile">
			{{ entries:listing folder="properties/sale" conditions="url:!{url}, property_location:{ property_location }"  }}
			{{ theme:partial src="property_tile" use_context="true" }}		        
			{{ /entries:listing }}
		</div>
	</div>
</section>