
{{ theme:partial src="properties_nav" }}

{{ if get:view == "map" && get:type == "buy" }}

 {{ theme:partial src="properties_map"}}

{{ elseif get:view == "map" && get:type == "rent" }}

<p>bar</p>

{{ else }}

<section class="full light-gray">
	<div class="container">
		<div class="row">
			
		{{ if get:type == "rent" && get:view != "map" }}
		{{ entries:listing folder="properties/rent" }}
		    {{ if no_results }}
				<div class="col-md-12">
					<p class="sorry">
								No rental properties are available.<br>
								Check back soon.
					</p>
				</div>
		    {{ else }}
				<div class="col-md-4">
						<a href="{{ url }}" class="property_box">
							<img src="{{ _site_root }}{{ preview_image }}">
							<div class="property_tile_info">
								<div class="top-info">
									<h3>{{ title }}</h3>
									<div class="spacer"></div>
									<h4>${{ price|format_number }}</h4>
									<div class="spacer"></div>
									<h4>{{ property_type }}</h4>
									<div class="spacer"></div>
									<h4>{{ location }}</h4>
								</div>
								<div class="bottom-info">
									{{ if openhouse }}
									<p>
										Open House
									</p>
									{{ endif }}
								</div>
							</div>
						</a >
					</div>
		    {{ endif }}
	
		{{ /entries:listing }}
		{{ else }}
		{{ entries:listing folder="properties/sale" }}
		<div class="col-md-4">
			<a href="{{ url }}" class="property_box">
				<img src="{{ _site_root }}{{ preview_image }}">
				<div class="property_tile_info">
					<div class="top-info">
						<h3>{{ title }}</h3>
						<div class="spacer"></div>
						<h4>${{ price|format_number }}</h4>
						<div class="spacer"></div>
						<h4>{{ property_type }}</h4>
						<div class="spacer"></div>
						<h4>{{ location }}</h4>
					</div>
					<div class="bottom-info">
						{{ if openhouse }}
						<p>
							Open House
						</p>
						{{ endif }}
					</div>
				</div>
			</a >
		</div>
		{{ /entries:listing }}
		{{ endif }}
		</div>
	</div>
</section>
{{ endif }}

