<script type="text/javascript">
  var data = {
    {{ entries:listing folder="properties/new-york/sale"  }}
    {{ if first }}
    "sale": {
    {{ endif }}
      "{{ slug }}":
        {
          "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
          "preview_image":"{{ preview_image }}",
          "url":"{{ url }}",
          "streeteasy_status": "{{ streeteasy_status }}",
          "openhouse": "{{ openhouse }}",
          "price": "{{ price }}",
          "property_type": "{{ property_type }}",
          "sqft": "{{ sqft }}",
          "property_location": "{{ property_location }}"
        },
    {{ if last }}
      "{{ slug }}":
        {
          "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
          "preview_image":"{{ preview_image }}",
          "url":"{{ url }}",
          "streeteasy_status": "{{ streeteasy_status }}",
          "openhouse": "{{ openhouse }}",
          "price": "{{ price }}",
          "property_type": "{{ property_type }}",
          "sqft": "{{ sqft }}",
          "property_location": "{{ property_location }}"
        }
    },
    {{ endif }}
    {{ /entries:listing}}
    {{ entries:listing folder="properties/new-york/rental"  }}
    {{ if first }}
    "lease": {
    {{ endif }}
      "{{ slug }}":
        {
          "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
          "preview_image":"{{ preview_image }}",
          "url":"{{ url }}",
          "streeteasy_status": "{{ streeteasy_status }}",
          "openhouse": "{{ openhouse }}",
          "price": "{{ price }}",
          "property_type": "{{ property_type }}",
          "sqft": "{{ sqft }}",
          "property_location": "{{ property_location }}"
        },
    {{ if last }}
      "{{ slug }}":
        {
          "title":"{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}",
          "preview_image":"{{ preview_image }}",
          "url":"{{ url }}",
          "streeteasy_status": "{{ streeteasy_status }}",
          "openhouse": "{{ openhouse }}",
          "price": "{{ price }}",
          "property_type": "{{ property_type }}",
          "sqft": "{{ sqft }}",
          "property_location": "{{ property_location }}"
        }
    }
    {{ endif }}
    {{ /entries:listing}}
  }
</script>
<div id="properties"></div>