<section class="leading background-gray">
	<div class="container">
		<a href="{{ url }}?type=buy" class="{{ if get:type != "rent" }}current{{ endif }}">Buy</a><span>|</span>
		<a href="{{ url }}?type=rent" class="{{ if get:type == "rent" }}current{{ endif }}"> Rent</a>
	<a href="" onclick="location.href = $(this).attr('href')+'?location=chelsea';return false">Chelsea</a>
		<div class="demo">
			<div class="control-group">
				<select id="select-tools" multiple="multiple" placeholder="Filter by neighborhood" tabindex="-1" class="selectized" style="display: none;"></select>
				<script>
				var handler = function() {
					console.log($('#select-tools').val());
				};
					$select = $('#select-tools').selectize({
				    maxItems: null,
				    valueField: 'id',
				    labelField: 'title',
				    searchField: 'title',
				    onChange: handler,
				    options: [
				    {{ taxonomy:listing folder="properties/sale" type="property_location" }}
				        {id: {{ index }}, title: '{{ name }}'},
				        {{ if last }}
				        {id: {{ index }}, title: '{{ name }}'}
				        {{ endif }}
				    {{ /taxonomy:listing}}
				    ],
				    create: false
					});
					

				</script>
			</div>

			{{ if get:type == "rent" }}

				{{ entries:listing folder="properties/lease" }}
					{{ theme:partial src="property_card" use_context="true" }}
				{{ /entries:listing}}

			{{ else }}

					{{ entries:listing folder="properties/sale" conditions="property_location:xxxxx" }}
						{{ theme:partial src="property_card" use_context="true" }}
					{{ /entries:listing}}

			{{ endif }}

			<div>


			</section>