{{ theme:partial src="hero_dark" }}	
<section class="bg-seafoam">
	<div class="container reports">
		<div class="section-title">OUR LATEST REPORTS</div>
		<ul class="grid-constrained report-header">
			{{ reports limit="6"}}
				<li class="grid-3-constrained report">
					<a target="_blank" href="{{ report }}" class="report-tile">
						<h4>{{ report_date }}</h4>
						<h3>{{ report_title }}</h3>
						<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
					</a >
				</li>
			{{ /reports }}
			</ul>

			<a class="report-expander expander-next gray centered" href="">
				<i class="fa fa-plus-circle gray large"></i>
				<span class="large">MORE REPORTS</span>
			</a>

			<ul style="display: none" class="grid-constrained">
				{{ reports offset="6" }}
					<li class="grid-3-constrained report">
						<a target="_blank" href="{{ report }}" class="report-tile">
							<h4>{{ report_date }}</h4>
							<h3>{{ report_title }}</h3>
							<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
						</a >
					</li>
				{{ /reports }}
			</ul>
	</div>
</section>
<section class="bg-gray">
	<div class="container reports signup">
		<h2>Register</h2>
		<form action="//lesliegarfield.us12.list-manage.com/subscribe/post?u=5645fb1229acab9604f9f450f&amp;id=3662d5b781" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
		  <div class="form-group half">
		    <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
		  </div>
		  <div class="form-group half">
		    <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
		  </div>
		  <div class="form-group full-span">
		    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
		  </div>
		  <div style="position: absolute; left: -5000px;"><input type="text" name="b_5645fb1229acab9604f9f450f_8327ab2928" tabindex="-1" value=""></div>
		  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-garfield">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		</form>
	</div>
</section>


