<section class="hero leading dark" {{ if hero_image }} style="background-image: url( {{ path src="{{ hero_image }}" }} );" {{ endif }}>
	<h1>{{ header }}</h1>
	{{ if sub_header }}<h3>{{ sub_header }}</h3>{{ endif }}
</section>	
<section class="bg-seafoam">
	<div class="container reports">
		<div class="section-title">OUR LATEST REPORTS</div>
		<ul class="grid-constrained report-header">
			{{ reports limit="6"}}
				<li class="grid-3-constrained">
					<a target="_blank" href="{{ report }}" class="report-tile">
						<h4>{{ report_date }}</h4>
						<h3>{{ report_title }}</h3>
						<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
					</a >
				</li>
			{{ /reports }}
			</ul>

			<a class="report-expander expander-next gray centered" href="">
				<i class="fa fa-plus-circle gray large"></i>
				<span class="large">MORE REPORTS</span>
			</a>

			<ul style="display: none" class="grid-constrained">
				{{ reports offset="6" }}
					<li class="grid-3-constrained">
						<a target="_blank" href="{{ report }}" class="report-tile">
							<h4>{{ report_date }}</h4>
							<h3>{{ report_title }}</h3>
							<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
						</a >
					</li>
				{{ /reports }}
				</ul>
		</ul>
	</div>
</section>
<section class="bg-gray">
	<div class="container reports signup">
		<h2>Register</h2>
		<h3>Fill in the form to get the reports hot off the presses</h3>
		<form>
		  <div class="form-group half">
		    <input type="text" id="firstName" placeholder="First Name">
		  </div>
		  <div class="form-group half">
		    <input type="text" id="lastName" placeholder="Last Name">
		  </div>
		  <div class="form-group full-span">
		    <input type="text" id="emailAddress" placeholder="Email Address">
		  </div>
		  <button type="submit" class="btn btn-contact">Send</button>
		</form>
	</div>
</section>