<section class="hero small leading dark">
	<h1>{{ header }}</h1>
	<h3>{{ sub_header }}</h3>
</section>
<section class="darkest-seafoam-bg">
	<div class="container reports">
		<h3 class="centered">OUR LATEST REPORTS</h3>
		<ul class="grid-constrained">
			{{ reports limit="6"}}
				<li class="grid-3-constrained">
					<a target="_blank" href="{{ report }}" class="report-tile">
						<h4>{{ report_date }}</h4>
						<h3>{{ report_title }}</h3>
						<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
					</a >
				</li>
			{{ /reports }}
			</ul>

			<a class="report-expander expander-next green centered" href="">
				<i class="fa fa-plus-circle light-gray large"></i>
				<span class="large light-gray">More Reports</span>
			</a>

			<ul style="display: none" class="grid-constrained">
				{{ reports offset="6" }}
					<li class="grid-3-constrained">
						<a target="_blank" href="{{ report }}" class="report-tile">
							<h4>{{ report_date }}</h4>
							<h3>{{ report_title }}</h3>
							<span>DOWNLOAD <i class="fa fa-angle-down"></i></span>
						</a >
					</li>
				{{ /reports }}
				</ul>
		</ul>
	</div>
</section>