	<section class="hero small leading" style="background-image: url( {{ path src="{{ hero_image }}" }} );">
		<h1>{{ title }}</h1>
		<!-- <h3>{{ sub_headline }}</h3> -->
		<div class="mask"></div>
	</section>
	<nav id="secondary-nav">
	   <ul class="nav" role="tablist">
      <li><a class="scroll" href="#individuals" >Individuals &amp; Families</a></li>
      <li><a class="scroll" href="#trust">Trust &amp; Estates</a></li>
      <li><a class="scroll" href="#institutions">Institutions</a></li>
      <li><a class="scroll" href="#buyers">Buyers</a></li>
    </ul>
    
	</nav>
	<section class="content services">
	<a id="individuals" class="secondary-nav-link"></a>
		<div class="container">
		<main>
			<h2>Individuals &amp; Familes</h2>
			<h3>{{ individual_subheader }}</h3>
			{{ individual_description }}
			<div class="service-list">
				<h4>Specific Service Delivered:</h4>
				<ul>
				{{ individual_services }}
					<li>{{ value }}</li>
				{{ /individual_services }}
				</ul>
			</div>
		</main>
		<aside>
			{{ individual_quote }}
				<div class="quote">
					<span class="quote-symbol left">{{ theme:partial src="svg/quote_up" }}</span>{{ main }}<span class="quote-symbol right">{{ theme:partial src="svg/quote_down" }}</span>
				</div>
				<div class="person">
					{{ person }}
				</div>
				<div class="description">
					{{ description }}
				</div>
			{{ /individual_quote }}
		</aside>
		</div>
	</section>
	<section class="content services neighborhood light-blue">
	<a id="trust" class="secondary-nav-link"></a>
		<div class="container">
<main>
			<h2>Trusts &amp; Estates</h2>
			<h3>{{ trust_subheader }}</h3>
			{{ trust_description }}
			<div class="service-list">
				<h4>Specific Service Delivered:</h4>
				<ul>
				{{ trust_services }}
					<li>{{ value }}</li>
				{{ /trust_services }}
				</ul>
			</div>
		</main>
		<aside>
			{{ trust_quote }}
				<div class="quote">
					<span class="quote-symbol left">{{ theme:partial src="svg/quote_up" }}</span>{{ main }}<span class="quote-symbol right">{{ theme:partial src="svg/quote_down" }}</span>
				</div>
				<div class="person">
					{{ person }}
				</div>
				<div class="description">
					{{ description }}
				</div>
			{{ /trust_quote }}
		</aside>
			
		</div>
	</section class="content services">

	<section class="content">
	<a id="institutions" class="secondary-nav-link"></a>
		<div class="container">
			<h3>Institutions</h3>
		</div>
	</section>
	<section class="content services dark-seafoam-bg">
	<a id="buyers" class="secondary-nav-link"></a>
		<div class="container">
			<h3>Buyers</h3>
		</div>
	</section>