<section class="leading bg-gray agent-individual">
	<div class="container" itemscope itemtype="https://schema.org/RealEstateAgent">

		<aside class="sticky">					
			<img alt="{{ title }}" itemprop="image" class="circle" src="{{ image }}" class="img-circle" />
			<div itemprop="name" class="agent-name" >{{ title }}</div>
			<ul>
			{{ if phone }}<li itemprop="phone">{{ theme:partial src="svg/phone" }} {{ phone }}</li>{{ endif }}
			<li itemprop="email">{{ theme:partial src="svg/mail" }} {{ email|link }}</li>
			</ul>
			<div class="dotted"></div>
		</aside>

		<main>
			<div class="agent-info">
				<h2 itemprop="name" class="agent-title">{{ title }}</h2>
				<div itemprop="">{{ info }}</div>
			</div>

			{{ if press|not_empty }}
			<div class="green-specs">
				<h3>PRESS</h3>
				<div class="press">
					{{ if press|length <= 1 }}
					<div class="carousel_tile carousel_tile_1 main_tile">
						{{ press }}
							{{ theme:partial src="press_item" use_context="true" }}
						{{ /press }}
					</div>
					{{ else }}
					<div class="carousel_tile carousel_tile_2 main_tile">
					{{ press }}
							{{ theme:partial src="press_item" use_context="true" }}
						{{ /press }}
					</div>
					{{ endif }}
				</div>
			</div>
			{{ else }}
			{{ endif }}

			{{ entries:listing folder="properties/new-york/sale|properties/new-york/rental|properties/international/sale|properties/international/rental" conditions="agents:{url}, streeteasy_status:!sold" show_future="true" sort_by="price" sort_dir="desc" }}
			{{ if no_results }}
			{{ else }}
			{{ if first }}
			<div class="agent-properties bg-gray">
			<h2>Current Listings</h2>

					{{ if total_results == 1 }}
					<div class="carousel_tile carousel_tile_1 agent_tile">
					{{ elseif total_results > 1 }}
					<div class="carousel_tile carousel_tile_2 agent_tile">
					{{ endif }}
					
					{{ endif }}
						{{ theme:partial src="property_tile" use_context="true" }}
					{{ if last }}        
				
					</div>
					</div>
			{{ endif }}

			{{ endif }}
			{{ /entries:listing }}
			
			{{ entries:listing folder="properties/new-york/sale|properties/new-york/sold|properties/international/sale|properties/international/sold" conditions="agents:{url}, streeteasy_status:sold" sort_by="price" sort_dir="desc" }}
			{{ theme:partial src="recent_transactions_sale" use_context="true" }}
			{{ /entries:listing }}

			{{ entries:listing folder="properties/new-york/rental|properties/new-york/rented|properties/international/rental|properties/international/rented" conditions="agents:{url}, streeteasy_status:leased" sort_by="price" sort_dir="desc" }}
			{{ theme:partial src="recent_transactions_rental" use_context="true" }}
			{{ /entries:listing }}

		</main>

	</div>
</section>

