

<listings>
{{ entries:listing folder="properties/new-york/sale" conditions="streeteasy_status:active" }}
<listing>
	<version>12</version>
	<source>Leslie J. Garfield</source>
	<status>{{ if openhouse  != "false" }}OpenHouse{{ else }}Active{{ endif }}</status>

	
	<address>
	{{ street_address }}
	</address>
	{{ if apartment|not_empty }}
	<unit>{{ apartment }}</unit>
	{{ endif }}
	{{ if property_location|not_empty }}
	<location>{{ property_location }}</location>
	{{ endif }}
	<country>USA</country>
	{{ if city|not_empty }}
	<city>{{ city }}</city>
	{{ endif }}
	{{ if state|not_empty }}
	<state>{{ state }}</state>
	{{ endif }}
	{{ if zip_code|not_empty }}
	<zip>{{ zip_code }}</zip>
	{{ endif }}

	<listinglink>{{ permalink }}</listinglink>

	<listingid>{{ id }}</listingid>
	{{ if rooms|not_empty }}
		<rooms>{{ rooms }}</rooms>
	{{ endif }}
	{{ if bedrooms|not_empty }}
		<beds>{{ bedrooms }}</beds>
	{{ endif }}
	{{ if bathrooms|not_empty }}
		<baths>{{ bathrooms }}</baths>
	{{ endif }}
	{{ if sqft|not_empty }}
		<squarefootage>{{ sqft }}</squarefootage>
	{{ endif }}

	<listingtype>Sale</listingtype>

	{{ if ownership|not_empty }}
		<propertytype>
		{{ if ownership == "townhouse" }}Townhouse{{ endif }}
		{{ if ownership == "house" }}House{{ endif }}
		{{ if ownership == "condo" }}Condo{{ endif }}
		{{ if ownership == "condop" }}Condop{{ endif }}
		{{ if ownership == "coop" }}Co-op{{ endif }}
		{{ if ownership == "rental" }}Rental{{ endif }}
		</propertytype>
	{{ endif }}
	{{ if price|not_empty }}
		<price>{{ price }}</price>
	{{ endif }}
	{{ if maintenance|not_empty }}
		<maintenance-cc>{{ maintenance }}</maintenance-cc>
	{{ endif }}
	{{ if taxes|not_empty }}
		<tax>{{ taxes|/:12|round }}</tax>
	{{ endif }}
	{{ location }}
		<latitude>{{ latitude }}</latitude>
		<longitude>{{ longitude }}</longitude>
	{{ /location }}
	{{ if summary_intro|not_empty }}
	<description>
	<![CDATA[
		{{ summary_intro|striptags }}
	]]>
	</description>
	{{ endif }}

	{{ if openhouse  != "false" }}
	<openhouses>
		{{ openhouse_grid }}
		<openhouse>
			{{ date format="l, F jS" }} {{ startTime }} - {{ endTime }}
		</openhouse>
		{{ /openhouse_grid}}
	</openhouses>
	{{ endif }}

	{{ if floor_plans_pdf|not_empty }}
	<floorplans>
		<floorplan>{{ _site_url }}{{ floor_plans_pdf }}</floorplan>
	</floorplans>
	{{ elseif floor_plans|not_empty }}
	<floorplans>
		<floorplan>{{ _site_url }}{{ floor_plans }}</floorplan>
	</floorplans>
	{{ endif }}

	{{ if amenities }}
	<features>
	{{ amenities }}
	<feature>{{ value }}</feature>
	{{/amenities }}
	{{ if key_features|not_empty }}
	{{ key_features|entities }}
	<feature>
		{{ value }}
	</feature>
	{{ /key_features }}
	{{ endif }}
	</features>
	{{ endif }}

	<images>
		{{ if photo_carousel|not_empty }}
		{{ photo_carousel }}
		<image>{{ _site_url }}{{ value|whitespace }}</image>
		{{ /photo_carousel }}
		{{ endif }}
	</images>

	<agents>
		{{ relate:agents }}
		<agent>
			<photourl>{{ _site_url }}{{ image }}</photourl>
			<fullname>{{ title }}</fullname>
			<officename>Leslie J. Garfield</officename>
			<phone>{{ phone }}</phone>
			<email>{{ email }}</email>
			<listingurl>{{ permalink }}</listingurl>
		</agent>
		{{ /relate:agents }}
	</agents>
</listing>
{{ /entries:listing }}

{{ entries:listing folder="properties/new-york/rental" conditions="streeteasy_status:active" }}
<listing>
	<version>12</version>
	<source>Leslie J. Garfield</source>
	<status>{{ if openhouse  != "false" }}OpenHouse{{ else }}Active{{ endif }}</status>
	<address>
	{{ street_address }}
	</address>
	{{ if apartment|not_empty }}
	<unit>{{ apartment }}</unit>
	{{ endif }}
	{{ if property_location|not_empty }}
	<location>{{ property_location }}</location>
	{{ endif }}
	<country>USA</country>
	{{ if city|not_empty }}
	<city>{{ city }}</city>
	{{ endif }}
	{{ if state|not_empty }}
	<state>{{ state }}</state>
	{{ endif }}
	{{ if zip_code|not_empty }}
	<zip>{{ zip_code }}</zip>
	{{ endif }}

	<listinglink>{{ permalink }}</listinglink>

	<listingid>{{ id }}</listingid>
	{{ if rooms|not_empty }}
		<rooms>{{ rooms }}</rooms>
	{{ endif }}
	{{ if bedrooms|not_empty }}
		<beds>{{ bedrooms }}</beds>
	{{ endif }}
	{{ if bathrooms|not_empty }}
		<baths>{{ bathrooms }}</baths>
	{{ endif }}
	{{ if sqft|not_empty }}
		<squarefootage>{{ sqft }}</squarefootage>
	{{ endif }}

	<listingtype>Rental</listingtype>

	{{ if ownership|not_empty }}
		<propertytype>
		{{ if ownership == "townhouse" }}Townhouse{{ endif }}
		{{ if ownership == "house" }}House{{ endif }}
		{{ if ownership == "condo" }}Condo{{ endif }}
		{{ if ownership == "condop" }}Condop{{ endif }}
		{{ if ownership == "coop" }}Co-op{{ endif }}
		{{ if ownership == "rental" }}Rental{{ endif }}
		</propertytype>
	{{ endif }}
	{{ if price|not_empty }}
		<price>{{ price }}</price>
	{{ endif }}
	{{ if maintenance|not_empty }}
		<maintenance-cc>{{ maintenance }}</maintenance-cc>
	{{ endif }}
	{{ if taxes|not_empty }}
		<tax>{{ taxes|/:12|round }}</tax>
	{{ endif }}
	{{ location }}
		<latitude>{{ latitude }}</latitude>
		<longitude>{{ longitude }}</longitude>
	{{ /location }}
	{{ if summary_intro|not_empty }}
	<description>
	<![CDATA[
		{{ summary_intro|striptags }}
	]]>
	</description>
	{{ endif }}

	{{ if openhouse  != "false" }}
	<openhouses>
		{{ openhouse_grid }}
		<openhouse>
			{{ date format="l, F jS" }} {{ startTime }} - {{ endTime }}
		</openhouse>
		{{ /openhouse_grid}}
	</openhouses>
	{{ endif }}

	{{ if floor_plans|not_empty }}
	<floorplans>
		<floorplan>{{ _site_url }}{{ floor_plans }}</floorplan>
	</floorplans>
	{{ endif }}

	{{ if amenities }}
	<features>
	{{ amenities }}
	<feature>{{ value }}</feature>
	{{/amenities }}
	{{ if key_features|not_empty }}
	{{ key_features|entities }}
	<feature>
		{{ value }}
	</feature>
	{{ /key_features }}
	{{ endif }}
	</features>
	{{ endif }}

	<images>
		{{ if photo_carousel|not_empty }}
		{{ photo_carousel }}
		<image>{{ _site_url }}{{ value|whitespace }}</image>
		{{ /photo_carousel }}
		{{ endif }}
	</images>

	<agents>
		{{ relate:agents }}
		<agent>
			<photourl>{{ _site_url }}{{ image }}</photourl>
			<fullname>{{ title }}</fullname>
			<officename>Leslie J. Garfield</officename>
			<phone>{{ phone }}</phone>
			<email>{{ email }}</email>
			<listingurl>{{ permalink }}</listingurl>
		</agent>
		{{ /relate:agents }}
	</agents>
</listing>
{{ /entries:listing }}
</listings>
