	<section class="hero leading landing" style="background-image: url( {{ path src="{{ hero_image }}" }} );">
		<div class="container">
			<div class="hero-container">
				<h1>{{ tag_line }}</h1>
				<h5>{{ sub_tag_line}}</h5>
				<a href="{{ url }}properties/new-york" class="btn btn-garfield">VIEW PROPERTIES</a>
			</div>
		</div>
		<div class="mask"></div>
	</section>	
<div id="email-trigger"></div>
	<section class="landing-sub-nav">
		<div class="container">
				<a href="{{ url }}company" class="grid-3 centered circle-nav">
				<figure>
					{{ theme:partial src="svg/home_glasses" }}
					<figcaption>
						<h4>Our Story</h4>
						<p>Our history is as rich as our expertise is deep.</p>
						
						<p class="sub-title">SEE OUR STORY ></p>
					</figcaption>
				</figure>
				</a>
				<a href="{{ url }}properties/new-york" class="grid-3 centered circle-nav">
					<figure>
						{{ theme:partial src="svg/home_building" }}
						<figcaption>
							<h4>Search Listings</h4>
							<p>New York City’s most in-demand townhouses and small buildings.</p>
							<p class="sub-title">SEE THE PROPERTIES ></p>							
						</figcaption>
					</figure>
				</a>
				<a data-toggle="modal" data-target="#contact-modal" href="#" class="grid-3 centered circle-nav">
					<figure>
						{{ theme:partial src="svg/home_for_sale" }}
						<figcaption>
							<h4>Looking to Sell?</h4>
							<p>Find out why working with Garfield makes all the difference.</p>
							<p class="sub-title">GET A VALUATION ></p>
						</figcaption>
					</figure>
				</a>
				<a href="{{ url }}neighborhoods" class="grid-3 centered circle-nav">
					<figure>
						{{ theme:partial src="svg/home_neighborhood" }}
						<figcaption>
							<h4>Our Neighborhoods</h4>
							<p>The numbers behind NYC’s most prominent neighborhoods.</p>
							<p class="sub-title">BROWSE THE NEIGHBORHOODS ></p>
						</figcaption>
					</figure>
				</a>
		</div>
	</section>


{{ entries:listing folder="properties/new-york/sale" sort_by="random" show_future="true" conditions="streeteasy_status:!sold" }}
{{ if no_results }}
{{ else }}
{{ if first }}
	<section class="circle-icon bg-seafoam">
		<div class="circle-leader">
			<div class="circle bg-seafoam">
				{{ theme:partial src="svg/home_building" }}
			</div>
			<h4>FEATURED NEW YORK PROPERTIES</h4>
		</div>
		<div class="container">
		<div class="property_tile">
		<div class="tile-container">

		{{ if total_results == 1 }}
		<div class="carousel_tile carousel_tile_1">
		{{ elseif total_results == 2 }}
		<div class="carousel_tile carousel_tile_2">
		{{ else }}
		<div class="carousel_tile carousel_tile_3">
		{{ endif }}
		
		{{ endif }}
			{{ theme:partial src="property_tile" use_context="true" }}
		{{ if last }}        
		</div>
		</div>
		</div>
	</div>
</section> 
{{ endif }}

{{ endif }}
{{ /entries:listing }}

	<section>
		<div class="circle-leader">
			<div class="circle white">
				{{ theme:partial src="svg/home_book" }}
			</div>
			<h4>NEWS &amp; INSIGHTS</h4>
		

		</div>
		<div class="container">
			<div class="grid-4 centered">
				<a data-toggle="modal" data-target="#contact-modal" href="#" class="insight-tile">
					<h3>Property Expertise</h3>
					<p>Make a more informed decision about your property with a Garfield Valuation</p>
					<span>GET IN CONTACT ></span>
				</a>
			</div>
			<div class="grid-4 centered">
				<a href="{{ site_url }}blog" class="insight-tile">
					<h3>Latest Thinking</h3>
					<p>Opinions and commentary on New York Real Estate from the Garfield team</p>
					<span>VISIT OUR BLOG ></span>
				</a>
			</div>
			<div class="grid-4 centered">
				<a href="{{ site_url }}reports" class="insight-tile">
					<h3>Research &amp; Analysis</h3>
					<p>Trends and forecasts for New York’s townhouse and small building markets</p>
					<span>SEE THE LATEST REPORT ></span>
				</a>
			</div>

		</div>
	</section>



{{ entries:listing folder="properties/international/sale" sort_by="random" show_future="true" conditions="streeteasy_status:!sold"}}
{{ if no_results }}
{{ else }}
{{ if first }}
	<section class="circle-icon light-gray-bg">
		<div class="circle-leader">
			<div class="circle light-gray-bg">
				{{ theme:partial src="svg/international" }}
			</div>
			<h4>FEATURED INTERNATIONAL PROPERTIES</h4>
		</div>
		<div class="container">
		<div class="property_tile">
		<div class="tile-container">

		{{ if total_results == 1 }}
		<div class="carousel_tile carousel_tile_1">
		{{ elseif total_results == 2 }}
		<div class="carousel_tile carousel_tile_2">
		{{ else }}
		<div class="carousel_tile carousel_tile_3">
		{{ endif }}
		
		{{ endif }}
			{{ theme:partial src="property_tile" use_context="true" }}
		{{ if last }}        
		</div>
		</div>
		</div>
	</div>
</section> 
{{ endif }}

{{ endif }}
{{ /entries:listing }}


{{ theme:partial src="modal_valuation" }}
