{{ theme:partial src="hero_mask" }}
	<nav id="scroll-spy-nav" class="secondary-nav">
		<ul class="nav" role="tablist">
			<li><a class="scroll smooth" href="#description" >Description</a></li>
			<li><a class="scroll smooth" href="#location">Location</a></li>
			<li><a class="scroll smooth" href="#numbers">By the Numbers</a></li>
			<li><a class="scroll smooth" href="#other_properties">Properties</a></li>
		</ul>

	</nav>
	<section>
		<a id="description" class="secondary-nav-link"></a>
		<div class="container large-body">
			<div class="section-title">DESCRIPTION</div>
			<p class="intro-section">{{ description }}</p>
		</div>
	</section>
	<section class="neighborhood bg-gray">
		<a id="location" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">LOCATION</div>
			<div id="map"></div>
		</div>
	</section>

	<section>
		<a id="numbers" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">BY THE NUMBERS</div>
			<div class="grid numbers">
				<div class="grid-6 full">
					<h1>{{ left }}%</h1>
					<span class="price-descriptor">RISE IN PROPERTY PRICES IN THE LAST FIVE YEARS</span>
					{{ theme:partial src="svg/graph" }}
					<div class="divider"></div>
				</div>
				<div class="grid-6">

					<div class="half">

						<div class="descriptor">
							<span class="price">${{ right_top|format_number }}*</span>
						</div>
						{{ theme:partial src="svg/diamond" }}

					</div>
					<span class="price-descriptor">AVERAGE PRICE PER SQ/ FT</span>
					<div class="divider"></div>
					{{ right_bottom }}
					{{ if price_tag }}
					<div class="half">
						<div class="descriptor">
							<span class="price tilted">${{ price_tag }}*</span>
						</div>
						{{ theme:partial src="svg/price_tag" }}
					</div>
					<span class="price-descriptor">AVERAGE SALE PRICE</span>
					{{ elseif simple_graphic }}
					<div class="half">
						<h1 class="large">
							{{ simple_graphic }}
						</h1>
					</div>
					<span class="price-descriptor">TOWNHOUSES SOLD IN THE LAST YEAR</span>
					{{ endif }}
					{{ /right_bottom }}

				</div>

			</div>
			<p class="light">* These numbers are averages and fluctuate frequently. Contact us for the most up-to-date data on NYC neighborhoods and blocks.</p>
		</div>
	</section>

	<section class="bg-seafoam">
		<a id="other_properties" class="secondary-nav-link"></a>
		<div class="container">
			<div class="section-title">CURRENT PROPERTIES IN THIS NEIGHBORHOOD</div>
			{{ entries:listing folder="properties/new-york/sale|properties/new-york/rental" conditions="property_location:{title}, streeteasy_status:!sold" }}
			{{ if no_results }}
			<p class="no_results">We currently have no other properties for sale or lease in this neighborhood. Be sure to check back soon.</p>
			{{ else }}
			{{ if first }}
			<div class="property_tile">
			<div class="tile-container">

			{{ if total_results == 1}}
			<div class="carousel_tile carousel_tile_1">
			{{ elseif total_results == 2 }}
			<div class="carousel_tile carousel_tile_2">
			{{ else }}
			<div class="carousel_tile carousel_tile_3">
			{{ endif }}
			
			{{ endif }}
				{{ theme:partial src="property_tile" use_context="true" }}
			{{ if last }}        
			</div>
			</div>
			</div>
			{{ endif }}
			{{ endif }}
			{{ /entries:listing }}
		</div>
	</section>

	<section id="other_neighborhoods" class="bg-gray">
		<div class="container">
			<div class="section-title">OTHER NEIGHBORHOODS</div>


			<ul class="grid">
				{{ entries:listing folder="neighborhoods/individual_neighborhoods" conditions="url:!{url}" }}	
				{{ theme:partial src="neighborhood_tile" use_context="true" }}
				{{ /entries:listing }}
			</ul>
		</div>
	</section>

	<script type="text/javascript">



function initialize() {
  var locations = [
  {{ entries:listing folder="properties/new-york/sale|properties/new-york/rental" conditions="property_location:{title}, streeteasy_status:!sold" }}
  {{ if !no_results }}
  [
  '{{ title }}', 
  {{ location }}
  {{ latitude}},
  {{ longitude }}{{/location}},
  '{{url}}',
  '{{ preview_image }}',
  {{ if openhouse == "1" }}'../../_themes/main/img/map_marker_red.svg'{{ else }}'../../_themes/main/img/map_marker_green.svg'{{endif}},
  '{{ if currency == "dollars" }}${{ elseif currency == "sterling" }}£{{ elseif currency == "euros" }}€{{ elseif currency == "none" }}{{ else }}${{ endif }}{{ if streeteasy_type == "rental"}}{{ price|format_number }}/month{{ else }}{{ price|format_number }}{{ endif }}',
  '{{ property_type }}',
  '{{ sqft|format_number }} ft',
  '{{ property_location }}'
  ],
  {{ endif }}
  {{ /entries:listing }}
  ];

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: {{ location }}{{latitude}}{{/location}}, lng: {{ location }}{{longitude}}{{/location}}},
    zoom: {{ zoom_level }},
    scrollwheel: false,
    styles: [
    	{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},
    	{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},
    	{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},
    	{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},
    	{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},
    	{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},
    	{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},
    	{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},
    	{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},
    	{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},
    	{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}
    ]
  });

	
	var boundaries = 
	{
	  "type": "FeatureCollection",
	  "features": [
	    {
	      "type": "Feature",
	      "geometry": {
	        "type": "Polygon",
	        "coordinates": [
	          [
	          	{{ border_coordinates }}
	            [ {{ longitude_latitude }} ],
	          	{{ /border_coordinates }}
	          ]
	        ]
	      }
	    }
	  ]
	};

	map.data.addGeoJson(boundaries);
	map.data.setStyle({
    fillColor: '#8AF2D5',
    strokeWeight: 1,
    fillOpacityopacity: 1,
    strokeColor: '#009B77'
  });

  var infowindow = new google.maps.InfoWindow();
  var bounds = new google.maps.LatLngBounds();
  var markers = [];

  {{ entries:listing folder="properties/new-york/sale|properties/new-york/rental" conditions="property_location:{title}, streeteasy_status:!sold" }}
  {{ if !no_results }}

  for (i = 0; i < locations.length; i++) {

    var title = locations[i][0];
    var lat = locations[i][1];
    var long = locations[i][2];
    var url = locations[i][3];
    var image = locations[i][4];
    var icon = locations[i][5];
    var price = locations[i][6];
    var type = locations[i][7];
    var size = locations[i][8];
    var location = locations[i][9];

    var infowindow = new google.maps.InfoWindow();

    markers.push(infowindow);

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      icon: icon  
    });

    bounds.extend(marker.position);

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        infowindow.setContent(
        '<a href=' + '"' + locations[i][3] + '"' + 'class=' + '"' + 'property_box map' + '"' + '>' +
          '<div class="image-wrap">' +
            '<div class="preview-image" style=' + '"background-image: url(' + locations[i][4] + '">' + 
            '</div>' +
          '</div>' +
          
          '<div class=' + '"' + 'property_tile_info' + '"' + '>' +
            '<div class=' + '"' + 'top-info' + '"' + '>' +
              '<span class=' + '"' + 'prop-title' + '"' + '>' + locations[i][0] + '</span>' +
              '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
              '<span class=' + '"' + 'prop-price' + '"' + '>' + locations[i][6] + '</span>' +
              '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
              '<span class=' + '"' + 'prop-details' + '"' + '>' + locations[i][7] + '</span>' +
              '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
              '<span class=' + '"' + 'prop-details' + '"' + '>' + locations[i][8] + '<sup>2</sup>' + '</span>' +
              '<div class=' + '"' + 'spacer' + '"' + '>' +'</div>' +
              '<span class=' + '"' + 'prop-location' + '"' + '>' + locations[i][9] + '</span>' +
            '</div>' +
            '<div class=' + '"' + 'bottom-info' + '"' + '>' +
            '</div>' +
          '</div>' +
        '</a>');
        infowindow.open(map, marker);
      }
    })(marker, i));

    google.maps.event.addListener(map, "click", function(event) {
        for (var i = 0; i < markers.length; i++ ) {  //I assume you have your infoboxes in some array
             markers[i].close();
        }
    });
  }


  // map.fitBounds(bounds);

  var listener = google.maps.event.addListener(map, "idle", function () {
    // map.setZoom(13);
    google.maps.event.removeListener(listener);
  });

  {{ endif }}
  {{ /entries:listing }}

}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDNoSfsI1ielEAA_2AX1XgZAb8eMaXG6Y4&' + 'callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript();
</script>
