{{ var:open_house_date }}{{ date_calc start_date="{current_date}" }}{{ /var:open_house_date }}

<section class="leading property-page bg-gray">
	<div class="container">

		<aside class="sticky">
			<div class="agent-container">
				<div class="agent property-agents aside">
					<div class="dotted first"></div>
					{{ theme:partial src="property/agent" }}
				</div>
				{{ theme:partial src="property/downloads" }}
				<div class="dotted"></div>
				{{ theme:partial src="property/schedule" }}
				<div class="dotted"></div>
			</div>
		</aside>

		<main>
		
			<div class="property-info" itemscope itemtype="http://schema.org/Place">

				<div class="property-top-bar">
					<div class="location-granular">
						<span>{{ property_location }}</span>
						{{ if location_granular|not_empty }}
						<span class="divider"></span>
						<span>{{ location_granular }}</span>
						{{ endif }}
					</div>
					<div class="social desktop right-align gray">
						{{ theme:partial src="property/social" }}
					</div>
				</div>

				<div class="property-header" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<h2 itemprop="name streetAddress">
					{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}</h2>
					{{ if state }}
					<span itemprop="addressRegion" style="display: none">New York</span>
					{{ endif }}
					{{ if country }}
					<span itemprop="addressCountry" style="display: none">{{ country }}</span>
					{{ else }}
					<span itemprop="addressCountry" style="display: none">USA</span>
					{{ endif }}
				</div>

				<div class="open-house desktop">
					{{ theme:partial src="property/openhouse" }}
				</div>

				<div class="property-carousel">
					{{ photo_carousel }}
					<div>
						<img itemprop="photo" src="{{ transform path width="900" height="600" quality="70" src="{{ value }}"}}" alt="{{ title }} - {{ property_location }} - New York City Townhouse Real Estate">
					</div>
					{{ /photo_carousel}}
				</div>

				<div class="green-specs desktop">
					{{ theme:partial src="property/specs" }}
				</div>

				<div class="details-small">

					<div class="open-house mobile">
					{{ theme:partial src="property/openhouse" }}
					</div>	
	
					<div class="dotted"></div>
					{{ theme:partial src="property/schedule" }}
					<div class="dotted"></div>
					<div class="green-specs mobile">
						{{ theme:partial src="property/specs" }}
					</div>
						
					<div class="summary mobile">
						{{ theme:partial src="property/summary"}}
					</div>

					<div class="dotted" style="margin-top: 15px;"></div>

					<div class="agent-internal">
						<div class="property-agents agent mobile">
							{{ theme:partial src="property/agent" }}
						</div>
					</div>		

					<div class="agent property-downloads">
					{{ theme:partial src="property/downloads" }}
					</div>

					<div class="dotted"></div>
					<div class="social mobile block center-align gray">
						{{ theme:partial src="property/social" }}
					</div>

				</div>

				<div class="summary desktop">
					{{ theme:partial src="property/summary" }}
				</div>
				
			</div>
		</main>

	</div>
</section>


{{ if similar_properties|not_empty }}
{{ relate:similar_properties }}
{{ if first }}
<section class="circle-icon similar-properties-gray" id="featured-properties">
	<div class="circle-leader">
		<div class="circle similar-properties-gray">
			{{ theme:partial src="svg/home_building" }}
		</div>
		<h4>SIMILAR PROPERTIES</h4>
	</div>
	<div class="container">
		<div class="property_tile">
			<div class="tile-container">

				{{ if total_results == 1}}
				<div class="carousel_tile carousel_tile_1">
				{{ elseif total_results == 2 }}
				<div class="carousel_tile carousel_tile_2">
				{{ else }}
				<div class="carousel_tile carousel_tile_3">
				{{ endif }}
							
{{ endif }}
{{ theme:partial src="property_tile" use_context="true" }}
{{ if last }}        
</div>
</div>
</div>
</div>
</section> 
{{ endif }}
{{ /relate:similar_properties }}
{{ else }}
{{ entries:listing folder="properties/new-york/{streeteasy_type}|properties/international/{streeteasy_type}" conditions="url:!{url}, property_location:{ property_location }, streeteasy_status:!sold"  }}
{{ if no_results }}
{{ else }}
{{ if first }}
<section class="circle-icon similar-properties-gray" id="featured-properties">
	<div class="circle-leader">
		<div class="circle similar-properties-gray">
			{{ theme:partial src="svg/home_building" }}
		</div>
		<h4>SIMILAR PROPERTIES</h4>
	</div>
	<div class="container">
		<div class="property_tile">
			<div class="tile-container">

				{{ if total_results == 1}}
				<div class="carousel_tile carousel_tile_1">
				{{ elseif total_results == 2 }}
				<div class="carousel_tile carousel_tile_2">
				{{ else }}
				<div class="carousel_tile carousel_tile_3">
				{{ endif }}
							
{{ endif }}
{{ theme:partial src="property_tile" use_context="true" }}
{{ if last }}        
</div>
</div>
</div>
</div>
</section> 
{{ endif }}
{{ endif }}
{{ /entries:listing }}
{{ endif }}

{{ theme:partial src="modal_listing" use_context="true" }}

