<properties>
{{ entries:listing folder="properties/new-york/*" conditions="streeteasy:true,streeteasy_status:!sold" }}
<property 
	type="{{ streeteasy_type }}" id="{{ id }}" status="{{ streeteasy_status }}" 
	url="{{ _site_url }}{{ url }}">
	<location>
		{{ if street_address|not_empty }}
		<address>{{ street_address }}</address>
		{{ endif }}
		{{ if apartment|not_empty }}
		<apartment>{{ apartment }}</apartment>
		{{ else }}
		<apartment>house</apartment>
		{{ endif }}
		{{ if city|not_empty }}
		<city>{{ city }}</city>
		{{ endif }}
		{{ if state|not_empty }}
		<state>{{ state }}</state>
		{{ endif }}
		{{ if zip_code|not_empty }}
		<zipcode>{{ zip_code }}</zipcode>
		{{ endif }}
		{{ if property_location|not_empty }}
		<neighborhood>{{ property_location }}</neighborhood>
		{{ endif }}
	</location>
	<details>
		{{ if mlsName|not_empty }}
			<mlsName>{{ mlsName }}</mlsName>
		{{ endif }}
		{{ if mlsId|not_empty }}
			<mlsId>{{ mlsId }}</mlsId>
		{{ endif }}
		{{ if price|not_empty }}
			<price>{{ price|no_commas }}</price>
		{{ endif }}
		{{ if maintenance|not_empty }}
			<maintenance>{{ maintenance }}</maintenance>
		{{ endif }}
		{{ if max_financing|not_empty }}
			<max_financing>{{ max_financing }}</max_financing>
		{{ endif }}
		{{ if exclusive|not_empty }}
			<exclusive>{{ exclusive }}</exclusive>
		{{ endif }}
		{{ if taxes|not_empty }}
			<taxes>{{ taxes|/:12|round }}</taxes>
		{{ endif }}
		{{ if bedrooms|not_empty }}
			<bedrooms>{{ bedrooms }}</bedrooms>
		{{ endif }}
		{{ if bathrooms|not_empty }}
			<bathrooms>{{ bathrooms }}</bathrooms>
		{{ endif }}
		{{ if rooms|not_empty }}
			<totalrooms>{{ rooms }}</totalrooms>
		{{ endif }}
		{{ if sqft|not_empty }}
			<squareFeet>{{ sqft|no_commas }}</squareFeet>
		{{ endif }}
		{{ if listedOn|not_empty }}
			<listedOn>{{ listedOn }}</listedOn>
		{{ endif }}
		{{ if summary_intro|not_empty }}
		<description>
		<![CDATA[
			{{ summary_intro|striptags:o }}
			{{ if summary_full }}
			{{ summary_full }}
			{{ endif }}
		]]>
		</description>
		{{ endif }}
		{{ if ownership|not_empty }}
			<propertyType>{{ ownership }}</propertyType>
		{{ endif }}
		{{ if build_date|not_empty }}
			<built>{{ build_date }}</built>
		{{ endif }}
		
		<amenities>
		{{ if keyfeature_order }}

		{{ if key_features|not_empty }}
		<other>
		{{ key_features|list }}
		</other>
		{{ endif }}

		{{ if amenities }}
		{{ amenities }}
		<{{ value }} />
		{{/amenities }}
		{{ endif }}

		{{ else }}

		{{ if amenities }}
		{{ amenities }}
		<{{ value }} />
		{{/amenities }}
		{{ endif }}

		{{ if key_features|not_empty }}
		<other>
		{{ key_features|list }}
		</other>
		{{ endif }}		

		{{ endif }}
		</amenities>
		
	</details>
	{{ if openhouse  != "false" }}
	<openHouses>
		{{ openhouse_grid }}
		{{ if date|in_future || date|is_today }}
		<openHouse>
			<startsAt>{{ date }} {{ startTime }}</startsAt>
			<endsAt>{{ date }} {{ endTime }}</endsAt>
			{{ if apptOnly }}
			<apptOnly />
			{{ endif }}
		</openHouse>
		{{ endif }}
		{{ /openhouse_grid}}
	</openHouses>
	{{ endif }}
	<media>
		{{ if photo_carousel|not_empty }}
		{{ photo_carousel }}
		<photo url="{{ _site_url }}{{ value }}" />
		{{ /photo_carousel }}
		{{ endif }}
		{{ if floor_plans_pdf|not_empty }}
		<floorplan url="{{ _site_url }}{{ floor_plans_pdf }}" />
		{{ elseif floor_plans|not_empty }}
		<floorplan url="{{ _site_url }}{{ floor_plans }}" />
		{{ endif }}
		{{ if brochure_pdf|not_empty }}
		<otherMedia url="{{ _site_url }}{{ brochure_pdf }}" description="Property Brochure"/>
		{{ elseif brochure|not_empty }}
		<otherMedia url="{{ _site_url }}{{ brochure }}" description="Property Brochure"/>
		{{ endif }}
	</media>
	<agents>
		{{ relate:agents }}
		<agent>
			<name>{{ title }}</name>
			<company>Leslie J. Garfield</company>
			<photo>{{ _site_url }}{{ image }}</photo>
			<email>{{ email }}</email>
			<phone_numbers>
				<main>{{ phone }}</main>
			</phone_numbers>
		</agent>
		{{ /relate:agents }}
	</agents>
</property>
{{ /entries:listing }}

{{ var:my_date_since }}{{ date_calc start_date="{current_date}" method="subDays" value="10" format="F d, Y" }}{{ /var:my_date_since }}

{{ entries:listing folder="properties/new-york/sale" conditions="streeteasy:true" conditions="streeteasy_status:sold" since="{var:my_date_since}" }}
<property 
	type="{{ streeteasy_type }}" id="{{ id }}" status="{{ streeteasy_status }}" 
	url="{{ _site_url }}{{ url }}">
	<location>
		{{ if street_address|not_empty }}
		<address>{{ street_address }}</address>
		{{ endif }}
		{{ if apartment|not_empty }}
		<apartment>{{ apartment }}</apartment>
		{{ else }}
		<apartment>house</apartment>
		{{ endif }}
		{{ if city|not_empty }}
		<city>{{ city }}</city>
		{{ endif }}
		{{ if state|not_empty }}
		<state>{{ state }}</state>
		{{ endif }}
		{{ if zip_code|not_empty }}
		<zipcode>{{ zip_code }}</zipcode>
		{{ endif }}
		{{ if property_location|not_empty }}
		<neighborhood>{{ property_location }}</neighborhood>
		{{ endif }}
	</location>
	<details>
		{{ if mlsName|not_empty }}
			<mlsName>{{ mlsName }}</mlsName>
		{{ endif }}
		{{ if mlsId|not_empty }}
			<mlsId>{{ mlsId }}</mlsId>
		{{ endif }}
		{{ if price|not_empty }}
			<price>{{ price|no_commas }}</price>
		{{ endif }}
		{{ if maintenance|not_empty }}
			<maintenance>{{ maintenance }}</maintenance>
		{{ endif }}
		{{ if max_financing|not_empty }}
			<max_financing>{{ max_financing }}</max_financing>
		{{ endif }}
		{{ if exclusive|not_empty }}
			<exclusive>{{ exclusive }}</exclusive>
		{{ endif }}
		{{ if taxes|not_empty }}
			<taxes>{{ taxes|no_commas }}</taxes>
		{{ endif }}
		{{ if bedrooms|not_empty }}
			<bedrooms>{{ bedrooms }}</bedrooms>
		{{ endif }}
		{{ if bathrooms|not_empty }}
			<bathrooms>{{ bathrooms }}</bathrooms>
		{{ endif }}
		{{ if rooms|not_empty }}
			<totalrooms>{{ rooms }}</totalrooms>
		{{ endif }}
		{{ if sqft|not_empty }}
			<squareFeet>{{ sqft|no_commas }}</squareFeet>
		{{ endif }}
		{{ if listedOn|not_empty }}
			<listedOn>{{ listedOn }}</listedOn>
		{{ endif }}
		{{ if summary_intro|not_empty }}
		<description>
		<![CDATA[
			{{ summary_intro|striptags:o }}
			{{ if summary_full }}
			{{ summary_full }}
			{{ endif }}
		]]>
		</description>
		{{ endif }}
		{{ if ownership|not_empty }}
			<propertyType>{{ ownership }}</propertyType>
		{{ endif }}
		{{ if build_date|not_empty }}
			<built>{{ build_date }}</built>
		{{ endif }}

		
		<amenities>
		{{ if keyfeature_order }}

		{{ if key_features|not_empty }}
		<other>
		{{ key_features|list }}
		</other>
		{{ endif }}

		{{ if amenities }}
		{{ amenities }}
		<{{ value }} />
		{{/amenities }}
		{{ endif }}

		{{ else }}

		{{ if amenities }}
		{{ amenities }}
		<{{ value }} />
		{{/amenities }}
		{{ endif }}

		{{ if key_features|not_empty }}
		<other>
		{{ key_features|list }}
		</other>
		{{ endif }}		

		{{ endif }}
		</amenities>
		

	</details>
	{{ if openhouse }}
	<openHouses>
		{{ openhouse_grid }}
		<openHouse>
			<startsAt>{{ date }} {{ startTime }}</startsAt>
			<endsAt>{{ date }} {{ endTime }}</endsAt>
			{{ if apptOnly }}
			<apptOnly />
			{{ endif }}
		</openHouse>
		{{ /openhouse_grid}}
	</openHouses>
	{{ endif }}
	<media>
		{{ if photo_carousel|not_empty }}
		{{ photo_carousel }}
		<photo url="{{ _site_url }}{{ value }}" />
		{{ /photo_carousel }}
		{{ endif }}
		{{ if floor_plans_pdf|not_empty }}
		<floorplan url="{{ _site_url }}{{ floor_plans_pdf }}" />
		{{ elseif floor_plans|not_empty }}
		<floorplan url="{{ _site_url }}{{ floor_plans }}" />
		{{ endif }}
		{{ if brochure_pdf|not_empty }}
		<otherMedia url="{{ _site_url }}{{ brochure_pdf }}" description="Property Brochure"/>
		{{ elseif brochure|not_empty }}
		<otherMedia url="{{ _site_url }}{{ brochure }}" description="Property Brochure"/>
		{{ endif }}
	</media>
	<agents>
		{{ relate:agents }}
		<agent>
			<name>{{ title }}</name>
			<company>Leslie J. Garfield</company>
			<photo>{{ _site_url }}{{ image }}</photo>
			<email>{{ email }}</email>
			<phone_numbers>
				<main>{{ phone }}</main>
			</phone_numbers>
		</agent>
		{{ /relate:agents }}
	</agents>
</property>
{{ /entries:listing }}
</properties>
