<div class="blog-right">
	<div class="authors">
		<h2 class="blog-header">Authors</h2>
		<ul>
		{{ entries:listing folder="agents" conditions="author:"}}
		<li><a class="author-list" href="{{ _site_root }}blog/authors/{{ title|lower }}">
		<img class="author-image" src="{{ path src="{{ image }}"}}">
		{{ title }}
		</a></li>  
		{{ /entries:listing }}
		</ul>
		</ul>
		<h2 class="blog-header">Other News</h2>
		<div class="twitter-feed">
			{{ theme:partial src="twitter" }}
		</div>
	</div>
</div>