<span class="date">Posted {{ date }} by </span>
{{ relate:author }}
<a class="author" href="{{ _site_root }}blog/authors/{{ title|lower }}">
	{{ title }}
</a>
{{ /relate:author }}
<div class="social block left-align light">
	<a href="">
		<i class="fa fa-twitter fa-lg"></i>
	</a>
	<a href="javascript:selectPinImage()">
		<i class="fa fa-pinterest fa-lg"></i>
	</a>
	<a href="javascript:fbShare('{{ url }}', 'Fb Share', '{{ url }}', '{{ url }}', 500, 250)">
		<i class="fa fa-facebook fa-lg"></i>
	</a>
</div>