<div class="featured">
	<a href="{{ url }}" class="featured-image" style="background-image: url( {{ path src="{{ main_image }}" }} );"><div class="mask"></div></a>
	<div class="post-details">
		<span class="blog-header">FEATURED POST</span>
		<a href="{{ url }}"><h3>{{ title}}</h3></a>
		<span class="date">Posted {{ date }} by </span>
		{{ relate:author }}
			<a class="author" href="{{ _site_root }}blog/authors/{{ title|lower }}">
			{{ title }}
			</a>
		{{ /relate:author }}
		<div class="social left green">
			<a href="">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
			<a href="javascript:selectPinImage()">
				<i class="fa fa-pinterest fa-lg"></i>
			</a>
			<a href="javascript:fbShare('{{ url }}', 'Fb Share', '{{ url }}', '{{ url }}', 500, 250)">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
		</div>
		<div class="truncated">
			{{ content|truncate:200 }}
			<a class="read-more" href="{{ url }}">Read More</a>
		</div>
	</div>
</div>
