<footer class="dark_gray">
	<div class="container">
		<div class="grid-3">
			<a href="{{ _site_url }}/neighborhoods">Neighborhoods</a>
			<a href="{{ _site_url }}/reports">Reports</a>
			<a href="{{ _site_url }}/faq">FAQ</a>
		</div>
		<div class="grid-3">
			<a href="{{ globals:map_url}}" target="_blank">
				<div>{{ globals:address_line1 }}</div>
				<div>{{ globals:address_line2 }}</div>
			</a>
			<div>{{ globals:phone }}</div>
			<a href="mailto:{{ globals:email_contact }}">{{ globals:email_contact }}</a>
		</div>
		<div class="grid-3">
			<div>Sign up for email updates</div>
			<form class="email-signup">
				<input type="text" placeholder="type email address"></input>
				<button type="submit">Submit</button>
			</form>
		</div>

		<div class="grid-3">
			<div>Exclusive Affiliate of</div>
			<a target="_blank" href="http://www.beauchamp.co.uk/en/">Beauchamp Logo</a>
		</div>

	</div>
	<div class="footer-divider">
	<div class="container">
		<div>&copy; {{ current_date format="Y"}} Leslie J. Garfield &amp; Co., Inc. All Rights Reserved.</div>
		<div class="social">
			<a href="{{ globals:facebook }}" target="_blank">
					<i class="fa fa-facebook"></i>
			</a>
			<a href="https://twitter.com/{{ globals:twitter }}" target="_blank">
					<i class="fa fa-twitter"></i>
			</a>
			<a href="https://instagram.com/{{ globals:instagram }}" target="_blank">
					<i class="fa fa-instagram"></i>
			</a>
		</div>
	</div>
</footer>


