<header>
<div class="container">
  <nav>
    <ul class="left">
      <li>
        <a class="left" href="{{ homepage }}">
          {{ theme:partial src="svg/logo" }}
        </a>
      </li>
    </ul >
      <ul class="right">
        {{ nav from="/" max_depth="1" }}
        <li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }} </a>
         {{ if is_current || is_parent }}
         {{ if children }}
         <ul>
          {{ *recursive children* }}
        </ul>
        {{ endif }}
        {{ endif }}
        {{ /nav }}
        <li><a data-toggle="modal" data-target="#contact-modal" class="btn-contact" href="">Contact</a></li>
      </li>
    </ul>
  </nav>
</div>
</header>