{{ if no_results }}
{{ else }}
{{ if first }}
{{ if total_results == 1}}
<div class="property_tile property_tile_1">
{{ elseif total_results ==2 }}
<div class="property_tile property_tile_2">
{{ else }}
<div class="property_tile property_tile_3">
{{ endif }}
{{ endif }}
<div>
	<a href="{{ url }}" class="property_box slick">
		<div class='preview-image' style='background-image: url( {{ path src='{{ preview_image }}' }} );'></div>
		<div class="property_tile_info">
			<div class="top-info">
				<h2>{{ title }}</h2>
				<div class="spacer"></div>
				<h3>${{ price|format_number }}</h3>
				<div class="spacer"></div>
				<h4>{{ property_type }}</h4>
				{{ if sqft|not_empty }}
				<h4>{{ sqft|format_number }} ft<sup>2</sup></h4>
				{{ endif }}
				<div class="spacer"></div>
				<h4>{{ property_location }}</h4>
			</div>
			<div class="bottom-info">
				{{ if openhouse }}
				<p>
					Open House
				</p>
				{{ elseif sold }}
				<p>Sold</p>
				{{ endif }}
			</div>
		</div>
	</a >
</div>
{{ if last }}
</div>
{{ endif }}
{{ endif }}