{{ if first }}
<div class="tile-container">
{{ if total_results == 1}}
<div class="carousel_tile carousel_tile_1">
{{ elseif total_results ==2 }}
<div class="carousel_tile carousel_tile_2">
{{ else }}
<div class="carousel_tile carousel_tile_3">
{{ endif }}
{{ endif }}
<div>
	<a href="{{ url }}" class="property_box slick">
		<div class="image-wrap">
			<div class='preview-image' style='background-image: url( {{ path src='{{ preview_image }}' }} );'>
			</div>
		</div>
		<div class="property_tile_info">
			<div class="top-info">
				<span class="prop-title">{{ title }}{{if apartment }}, {{ apartment }}{{ endif }}</span>
				<div class="spacer"></div>
				<span class="prop-price">
				{{ if currency|not_empty }}
				{{ if currency == "sterling" }}
				&#163;{{ price|format_number }}
				{{ elseif currency == "euros" }}
				&#128;{{ price|format_number }}
				{{ elseif currency == "dollar" }}
				${{ price|format_number }}
				{{ endif }}
				{{ else }}
				${{ price|format_number }}
				{{ endif }}
				</span>
				<div class="spacer"></div>
				<span class="prop-details">{{ property_type }}</span>
				{{ if sqft|not_empty }}
				<span class="prop-details">{{ sqft|format_number }} ft<sup>2</sup></span>
				{{ endif }}
				<div class="spacer"></div>
				<span class="prop-location">{{ property_location }}</span>
			</div>
			<div class="bottom-info">
				{{ if openhouse }}
					<div class="red">Open House</div>
				{{ elseif streeteasy_status != "Active" }}
				<div>{{ streeteasy_status }}</div>
				{{ endif }}
			</div>
		</div>
	</a >
</div>
{{ if last }}
</div>
</div>
{{ endif }}