{{ if no_results }}

{{ else }}
	{{ if first }}
	<div class="recent-transactions">
	<h2>Rentals</h2>
	<ul>
	<li>
		<h3>Property Name</h3>
	</li>
	<li>
		<h3>Property Type</h3>
	</li>
	<li>
		<h3>Neighborhood</h3>
	</li>
	<li>
		<h3>Price</h3>
	</li>

	</ul>
	{{ endif }}
	
	<ul>
	<li class="transaction-details">{{ title }}</li>
	<li class="transaction-details">{{ property_type }}</li>
	<li class="transaction-details">{{ property_location }}</li>
	<li class="transaction-details">
	{{ if lease_price|not_empty }}
	${{ lease_price|format_number }}
	{{ else }}
	Undisclosed
	{{ endif }}
	</li>
	</ul>
	{{ if last }}
	</div>
	{{ endif }}
{{ endif }}




