<span class="date">Posted {{ date }} by </span>
{{ relate:author }}
<a class="author" href="{{ _site_root }}blog/authors/{{ title|lower }}">
	{{ title }}
</a>
{{ /relate:author }}
<div class="social block left-align light">
	<a href="https://twitter.com/intent/tweet?url={{ _site_url }}{{ url }}">
		<i class="fa fa-twitter fa-lg"></i>
	</a>
	<a href="javascript:pinIt();">
		<i class="fa fa-pinterest fa-lg"></i>
	</a>
	<a class="fb" 
	data-title="{{ title }}" 
	data-desc="Property listed at Leslie Garfield" 
	data-image="{{ if main_image }}{{ main_image}}{{ elseif preview_image }}{{ preview_image }}{{ endif }}"
	href="{{ _site_url }}{{ url }}">
		<i class="fa fa-facebook fa-lg"></i>
	</a>
</div>