<div class="blog-right">
	<div class="authors">
		<div class="blog-header">AUTHORS</div>
		<ul>
		{{ entries:listing folder="agents/garfield" conditions="author"}}
		<li><a class="author-list" href="{{ _site_root }}blog/authors/{{ title|lower }}">
		<img class="author-image" src="{{ transform width="60" src="{{ image }}"}}">
		{{ title }}
		</a></li>  
		{{ /entries:listing }}
		</ul>
		</ul>
		<div class="blog-header">OTHER NEWS</div>
		<div class="twitter-feed bg-gray">
			{{ theme:partial src="twitter" }}
		</div>
	</div>
</div>