<footer class="dark_gray">
	<div class="container">
		<div class="footer-group">
			<a href="{{ _site_root }}faq">Frequently Asked Questions</a>
			<a href="{{ _site_root }}sitemap/html">Sitemap</a>
			<div class="show-small">
				<a href="{{ globals:map_url}}" target="_blank" rel="noopener noreferrer">
					<div>{{ globals:address_line1 }}</div>
					<div>{{ globals:address_line2 }}</div>
				</a>
				<div>{{ globals:phone }}</div>
				<a href="mailto:{{ globals:email_info }}">{{ globals:email_info }}</a>
			</div>
		</div>
		<div class="footer-group show-large">
				<a href="{{ globals:map_url}}" target="_blank" rel="noopener noreferrer">
					<div>{{ globals:address_line1 }}</div>
					<div>{{ globals:address_line2 }}</div>
				</a>
				<div>{{ globals:phone }}</div>
				<a href="mailto:{{ globals:email_info }}">{{ globals:email_info }}</a>
		</div>


		<div class="footer-group affiliate">
			<div>Exclusive Affiliate of</div>
			<a class="beauchamp" target="_blank" rel="noopener noreferrer" href="http://www.beauchamp.com"><img src="{{ theme:img src="beauchamp_footer.png" }}"></a>
		</div>

	</div>
	
	<div class="footer-divider"></div>
	<div class="container bottom">
		<div class="grid-6">&copy; {{ current_date format="Y"}} Leslie J. Garfield &amp; Co., Inc. All Rights Reserved.
		<br>
		<a href="{{ _site_url }}/terms">Terms &amp; Conditions</a>
		</div>
		<div class="grid-6 social right-align footer">
			<a href="{{ globals:facebook }}" target="_blank" rel="noopener noreferrer">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="https://twitter.com/{{ globals:twitter }}" target="_blank" rel="noopener noreferrer">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="https://instagram.com/{{ globals:instagram }}" target="_blank" rel="noopener noreferrer">
				<i class="fa fa-instagram"></i>
			</a>
		</div>
	</div>
</footer>

