
<header class="navbar">
  <div class="container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false">
        <div class="patty"></div>
      </button>
      <a class="navbar-brand" href="{{ homepage }}">{{ theme:partial src="svg/logo" }}</a>
    </div>

    <div class="collapse navbar-collapse" id="primary-nav">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="dropdown"> 
          <a id="property_drop" href="{{ _site_root }}properties/new-york"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Properties <i class="fa fa-angle-down fa-lg"></i></a> 
          <ul id="menu1" class="dropdown-menu" aria-labelledby="property_drop"> 
            {{ nav from="/properties" max_depth="1" sort_dir="desc" }}
            <li><a href="{{ url }}">{{ title }} </a>
            {{ if is_current || is_parent }}
            {{ if children }}
            <ul>
            {{ *recursive children* }}
            </ul>
            {{ endif }}
            {{ endif }}
            {{ /nav }}
          </ul> 
        </li>
        {{ nav from="/properties" max_depth="1" sort_dir="desc" }}
        <li class="drop-small"><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }} Properties</a>
        {{ if is_current || is_parent }}
        {{ if children }}
        <ul>
        {{ *recursive children* }}
        </ul>
        {{ endif }}
        {{ endif }}
        {{ /nav }}
        {{ nav from="/" max_depth="1" exclude="properties|faq|contact|map"}}
        <li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }} </a>
         {{ if is_current || is_parent }}
         {{ if children }}
         <ul>
          {{ *recursive children* }}
        </ul>
        {{ endif }}
        {{ endif }}
        {{ /nav }}
        {{ nav from="/" exclude="properties|agents|services|company|neighborhoods|reports|blog|faq|map" }}
        <li><a href="{{ url }}"{{ if is_current || is_parent }} class="btn-contact current"{{ else }} class="btn-contact"{{ endif }}>{{ title }} </a>
         {{ if is_current || is_parent }}
         {{ if children }}
         <ul>
          {{ *recursive children* }}
        </ul>
        {{ endif }}
        {{ endif }}
        {{ /nav }}
        
      </ul>
    </div>
  </div>
</header>