
{{ if file|empty && link|empty }}
 <div itemscope class="carousel-tile press-item">
	<div itemprop="review">
		{{ relate:publication }}
		{{ if image|not_empty }}
		<img src="{{ path src="{{ image }}" }}">
		{{ endif }}
		{{ /relate:publication }}
		{{ if text|not_empty }}
		<p>{{ text }}</p>
		{{ endif }}
	</div>
 </div>
{{ else }}
 <a itemscope target="_blank" href="{{ link or file }}" class="carousel-tile press-item">
	<div itemprop="review">
		{{ relate:publication }}
		{{ if image|not_empty }}
		<img src="{{ path src="{{ image }}" }}">
		{{ endif }}
		{{ /relate:publication }}
		{{ if text|not_empty }}
		<p>{{ text }}</p>
		{{ endif }}
	</div>
 </a>
{{ endif }}


