

<div class="full" id="map-canvas"></div>

<script type="text/javascript">

	var infos = [];

	function initialize() {

	  var styles = [
	  {"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},
	  // {"featureType":"landscape","elementType":"man_made","stylers":[{"color":"#f2f2f2"}]},
	  // {"featureType":"landscape","elementType":"natural","stylers":[{"color":"#fff"}]},
	  // {"featureType":"landscape","elementType":"natural.landcover","stylers":[{"color":"#fff"}]},
	  // {"featureType":"landscape","elementType":"natural.terrain","stylers":[{"color":"#fff"}]},
	  {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},
	  {"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},
	  {"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},
	  {"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
	  {"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
	  {"featureType":"water","elementType":"all","stylers":[{"color":"#CBCBCC"},{"visibility":"on"}]}];

	  var styledMap = new google.maps.StyledMapType(styles,
	    {name: "Styled Map"});

		var mapOptions = {
			zoom: 14,
			center: new google.maps.LatLng(40.7769059, -73.95644),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);

	  map.mapTypes.set('map_style', styledMap);
	  map.setMapTypeId('map_style');

		setMarkers(map, property_sale);
	}

	var property_sale = [
	{{ entries:listing folder="properties/sale" }}
	{
		"title": "{{ title }}",
		"latitude": {{lat_long}}{{ latitude }}{{/lat_long}},
		"longitude": {{lat_long}}{{ longitude }}{{/lat_long}},
		"zIndex": {{index}},
		"url": "{{ url }}",
		"image": "{{ _site_root }}{{ preview_image }}"
	},
	{{ /entries:listing }}
	];

	function setMarkers(map, locations) {

		var image = {
			url: '_themes/main/img/marker_full.png',
			size: new google.maps.Size(23, 31),
			origin: new google.maps.Point(0,0),
			anchor: new google.maps.Point(0, 31)
		};

	  // var image = {
	  //   url: 'assets/img/beachflag.png',
	  //   size: new google.maps.Size(20, 32),
	  //   origin: new google.maps.Point(0,0),
	  //   anchor: new google.maps.Point(0, 32)
	  // };

	  var shape = {
	  	coords: [1, 1, 1, 31, 31, 31, 31 , 1],
	  	type: 'poly'
	  };

	  for (var i = 0; i < locations.length; i++) {
	  	var property_sale = locations[i];
	  	var myLatLng = new google.maps.LatLng(property_sale.latitude, property_sale.longitude);
	  	var marker = new google.maps.Marker({
	  		position: myLatLng,
	  		map: map,
	  		icon: image,
	  		shape: shape,
	  		title: property_sale.title,
	  		zIndex: property_sale.zIndex
	  	});

	  	var content = 
	  	'<div id="content">'+
	  	'<h3>'+'<a href="'+property_sale.url+'"'+'>'+property_sale.title+'</a>'+'</h3>'+
	  	'<img src="'+property_sale.image+'"'+ '/>'+
	  	'<div>';
	  	var infowindow = new google.maps.InfoWindow(map);

			// google.maps.event.addListener(map, "click", function(event) {
			//     infowindow.close();
			// });

	  	google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
	  		return function() {
	  			closeInfos();
	  			infowindow.setContent(content);
	  			infowindow.open(map,marker);
	  			infos[0]=infowindow;
	  		};
	  	})(marker,content,infowindow)); 
			

	  }

	}

	function closeInfos(){

		if(infos.length > 0){

			/* detach the info-window from the marker ... undocumented in the API docs */
			infos[0].set("marker", null);

			/* and close it */
			infos[0].close();

			/* blank the array */
			infos.length = 0;
		}
	}

	google.maps.event.addDomListener(window, 'load', initialize);		
</script>

