
<div>
	<a href="{{ url }}" class="property_box slick">
		<div class="image-wrap">
<!-- 			<div class='preview-image' style='background-image: url( {{ path src='{{ preview_image }}' }} );'>
			</div> -->
			<img nopin= "nopin" class='preview-image' data-lazy="{{ path src='{{ preview_image }}' }}" );>
		</div>
		<div class="property_tile_info">
			<div class="top-info">
				<span class="prop-title">{{ title }}</span>
				<div class="spacer"></div>
				<span class="prop-price">
				{{ if currency == "dollars" }}${{ elseif currency == "sterling" }}£{{ elseif currency == "euros" }}€{{ elseif currency == "none" }}{{ else }}${{ endif }}{{ if ownership == "rental"}}{{ price|format_number }}/month{{ else }}{{ price|format_number }}{{ endif }}
				</span>
				<div class="spacer"></div>
				<span class="prop-details">{{ property_type }}</span>
				{{ if sqft|not_empty }}
				<span class="prop-details">
					<span class="sqft-details">{{ sqft|format_number }}</span>
					<span class="sqft-details sup">ft<sup>2</sup></span></span>
				<span>
				{{ endif }}
				<div class="spacer"></div>
				<span class="prop-location">{{ property_location }}{{ grid_check }}</span>
			</div>
			<div class="bottom-info">

				{{ if streeteasy_status !== "active" }}
				<div>{{ if streeteasy_status == "in-contract"}}In Contract{{ elseif streeteasy_status == "sold" }}Sold{{ elseif streeteasy_status =="off-market" }}Off Market{{ elseif streeteasy_status =="temp-off-market" }}Temporarirly Off Market{{ endif }}</div>
				
				{{ else }}

				{{ openhouse_grid }}
												
				{{ /openhouse_grid }}

				{{ endif }}

			</div>
		</div>
	</a >
</div>
