
$susy: (
	columns: 12,
	container: 1280px,
	gutter-position: inside,
  debug: (
    image: hide,
  )
);

$constrained: (
	columns: 8
);

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

html,body {
	// height: 100%;
	font-size: 16px;
	font-weight: 500;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	position: relative;
	// margin-bottom: -230px;

}

img {
  max-width: 100%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;   
  * {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;    
  }
}

.page-wrap {
	flex: 1;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.container {
	@include container(show overlay);
	@include clearfix;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.flex {
	display: flex;
	&.column-no-wrap {
		flex-flow: column nowrap;
	}
	&.row-no-wrap {
		flex-flow: row nowrap;
	}
}

.content-wrap {
	flex: 1;
	padding-top: 60px;
	margin-top: 78px;
	&.leading {
		padding-top: 0;
	}
}

.full {
	flex: 1;
}

.grid-3, .grid-4, .grid-6 {
	* {
		outline: none;
	}
}

.grid-6 {
	@include gallery (6 of 12);
}

.grid-3 {
	@include gallery (3 of 12);
}

.grid-4 {
	@include gallery (4 of 12);
}

.grid-constrained {
	@include layout($constrained);
	@include pre(.5);
	@include post(.5);
	@include clearfix;
}

.grid-3-constrained {
	@include gallery(2 of 6 0);
	
}

.grid-3-constrained-padding {
	@include gallery(2 of 6 1);
	margin-bottom: gutter(1);
}

.stuck {
	position: fixed;
	top: 0;
}

.grid {
  // padding: gutter(12);
  // padding-bottom: 0; 
  @include clearfix;
  padding-top: 60px;
}

.grid-item {
  @include gallery(4 of 12 .5 after); 
  margin-bottom: gutter(4); 
}

section.services {
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	main {
		@include span(6 of 12);
	}
	aside {
		@include pre(1);
		@include span(last 5 of 12);
		.circle {
			padding-top: gutter(.1);
			position: relative;
		}
	}
}

section.faq {
	main {
		@include span (first 8 of 12);
		@include post(1);
	}
	aside {
		@include span(320px no-gutter);
	}
}

aside {
	@include span(320px no-gutter);
	padding-right: 15px;
}

main {
	position: relative;
	@include span (last 9 of 12);
	// padding: 30px;
}

.sticky-wrapper {
	position: relative;
}

.circle {
	border-radius: 50%;
}
