@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin clearfix {
	&:before, &:after {
		content: "";
		display: table;
		clear: both;
	}
}


@mixin circle-position($size) {
	top: -$size/2
}

@mixin circle($size) {
	border-radius: 50%;
	height: $size;
	width: $size;
  padding: $size/10;
}

@mixin svg-size($size) {
    height: $size - ($size/10)*2;
    width: $size - ($size/10)*2;
}