
// Font Family
// $base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$base-font-family: Arial, "Lucida Grande", sans-serif; 
$header-font-medium: "Copernicus-Medium";
$header-font-family: "Copernicus-Semibold";
$header-font-bold: "Copernicus-Bold";
$header-font-extra-bold: "Copernicus-ExtraBold";
$header-font-family-book-italic: "Copernicus-BookItalic";
$header-font-family-medium-italic: "Copernicus-MediumItalic";
$header-font-family-book: "Copernicus-Book";

@font-face {
    font-family: 'Copernicus-Medium';
    src: url('../fonts/Copernicus-Medium.eot');
    src: url('../fonts/Copernicus-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copernicus-Bold';
    src: url('../fonts/Copernicus-Bold.eot');
    src: url('../fonts/Copernicus-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Copernicus-Semibold';
    src: url('../fonts/Copernicus-Semibold.eot');
    src: url('../fonts/Copernicus-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copernicus-BookItalic';
    src: url('../fonts/Copernicus-BookItalic.eot');
    src: url('../fonts/Copernicus-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copernicus-Extrabold';
    src: url('../fonts/Copernicus-Extrabold.eot');
    src: url('../fonts/Copernicus-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copernicus-MediumItalic';
    src: url('../fonts/Copernicus-MediumItalic.eot');
    src: url('../fonts/Copernicus-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copernicus-Book';
    src: url('../fonts/Copernicus-Book.eot');
    src: url('../fonts/Copernicus-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Copernicus-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// color pallette
$green: #009880;
$hover-green: lighten(#009880,1%);
$light-green: #F2FAF8;
$lightest-green: #E9F6F3;
$text-green: #009B77;
$dark-gray: #25282A;
$light-gray: #ECEBEC;
$similar-properties-gray: #E5E4E4;
$background-gray: #F2F2F2;
$background-light-gray: #F7F7F7;
$header-font-color: #25282A;
$light-font-color: #A7A4A4;
$agents-background: #F5F5F5;
$seafoam-bg: #F4FBF9;
$dark-seafoam-bg: #e4f4f1;
$darkest-seafoam-bg: #CEEBE7;
$red: #FF0000;
$modal-text: #CCCCCC;
$light-blue: #E6F1FA;
$quote-gray: #7a7a7a;


// fonts
$base-font-color: #404041;
$light-font-color: #999999;







